<div>
  <div class="row">

    <span class="col-md-offset-1 col-md-3">
      X axis:<br/>
      <select ng-model="x_param" ng-options="p as p.full_name for p in parameters"></select><br/>
    </span>

    <span class="col-md-3">
      Y axis:<br/>
      <select ng-model="y_param" ng-options="p as p.full_name for p in parameters"></select><br/>
    </span>

    <span class="col-md-2">
      <br/>
      <button class="btn btn-primary" ng-click="render_plot(plot_data)">Update Plot</button>
      <br/><br/>
      <input ng-model="show_heat" type="checkbox"> Use heat map
    </span>

  </div>

  <div class="row">
    <div class="col-md-9">
      <div id="scatterplot"></div>
    </div>
    <div class="col-md-3">
      <div class="cluster-list">
      <table class="table">
        <thead>
        <tr>
          <th>
            <div class="color-box">
              <i ng-show="show_all_clusters" class="fa fa-eye"></i>
            </div>
          </th>
          <th>
            Cluster
          </th>
          <th>
            Event %
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="sc in data.cluster_data">
          <td ng-class="{ hover: sc.selected }">
            <div class="color-box" ng-style="{ 'background-color': sc.color }">
              <i ng-show="sc.display_events" class="fa fa-check"></i>
            </div>
          </td>
          <td ng-class="{ hover: sc.selected }">
            {{ sc.cluster_index }}
          </td>
          <td ng-class="{ hover: sc.selected }">
            {{ sc.event_percent }}%
          </td>
        </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>