<span>
  <div class="row">

    <span class="col-md-offset-1 col-md-3">
      X axis:<br/>
      <select ng-model="x_param" ng-options="p as p.full_name for p in parameters"></select><br/>
    </span>

    <span class="col-md-3">
      Y axis:<br/>
      <select ng-model="y_param" ng-options="p as p.full_name for p in parameters"></select><br/>
    </span>

    <span class="col-md-2">
      <br/>
      <button class="btn btn-primary" ng-click="render_plot(plot_data)">Update Plot</button>
      <br/><br/>
      <input ng-model="show_heat" type="checkbox"> Use heat map
    </span>

  </div>

  <div class="row">
    <span class="col-md-9">
      <div id="scatterplot"></div>
    </span>
    <span class="col-md-3">
      <ul class="list-unstyled">
        <li ng-repeat="sc in data.cluster_data">
          <span ng-class="{ selected: sc.selected }">Cluster: {{ sc.cluster_index }}</span>
        </li>
      </ul>
    </span>
  </div>
</span>