<span>
  <div class="row">

    <span class="col-md-offset-1 col-md-3">
      X axis:<br/>
      <select ng-model="x_cat" ng-options="p for p in parameter_list"></select><br/>
    </span>

    <span class="col-md-3">
      Y axis:<br/>
      <select ng-model="y_cat" ng-options="p for p in parameter_list"></select><br/>
    </span>

    <span class="col-md-2">
      <br/>
      <button class="btn btn-primary" ng-click="render_plot(plot_data)">Update Plot</button>
      <br/><br/>
      <input ng-model="show_heat" type="checkbox"> Use heat map
    </span>

  </div>

  <div class="row">
    <span class="col-md-9">
      <div id="scatterplot"></div>
    </span>
    <span class="col-md-3">
      <ul class="list-unstyled">
        <li ng-repeat="sc in sample_clusters">
          Cluster: {{ sc.cluster_index }}
        </li>
      </ul>
    </span>
  </div>
</span>