<div>
  <div class="row">

    <div class="col-md-3">
      FCS Sample:</br>
      <select ng-model="chosen_member" ng-change="initialize_visualization()" ng-options="member as member.sample.original_filename for member in sample_collection.members"></select>
      <br/>
      <br/>
      <button class="btn btn-default btn-sm" ng-click="previous_sample()"><< Previous</button>
      <button class="btn btn-default btn-sm" ng-click="next_sample()">Next >></button>

    </div>

    <div class="col-md-offset-1 col-md-5 no-padding">
      <div class="row">
        <div class="col-md-6 no-padding">
          X axis parameter:<br/>
          <select class="pr_form_field" ng-model="x_param" ng-options="p as p.full_name for p in parameters"></select>
          <div>
            X axis scale:<br/>
            <input ng-disabled="auto_scale" class="pr_form_field scale_input" type="text" ng-model="user_x_min" /> to
            <input ng-disabled="auto_scale" class="pr_form_field scale_input" maxlength="6" type="text" ng-model="user_x_max" />
          </div>
        </div>

        <div class="col-md-6 no-padding">
          Y axis parameter:<br/>
          <select class="pr_form_field" ng-model="y_param" ng-options="p as p.full_name for p in parameters"></select>
          <div>
            Y axis scale:<br/>
            <input ng-disabled="auto_scale" class="pr_form_field scale_input" maxlength="6" type="text" ng-model="user_y_min" /> to
            <input ng-disabled="auto_scale" class="pr_form_field scale_input" maxlength="6" type="text" ng-model="user_y_max" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 no-padding">
          <label>
            <input type="checkbox" ng-model="auto_scale" type="checkbox"> Auto-scale axes
          </label>
          <br/>
          <label>
            <input type="checkbox" ng-model="show_heat" type="checkbox"> Show heat map
          </label>
        </div>
        <div class="col-md-4 no-padding">
          <label>
            <input type="checkbox" ng-model="animate" ng-change="toggle_animation()" /> Animate transitions
          </label>
          <br/>
          <label>
            <input type="checkbox" ng-model="enable_brushing" ng-change="set_brushing_mode()" /> Enable brushed selection
          </label>
        </div>
        <div class="col-md-4 no-padding">
          <label>
            <input type="radio" name="cluster_display_mode" ng-model="cluster_display_mode" value="all" ng-change="set_cluster_display()" /> Show all clusters
          </label>
          <label>
            <input type="radio" name="cluster_display_mode" ng-model="cluster_display_mode" value="expanded" ng-change="set_cluster_display()" /> Show expanded clusters
          </label>
          <label>
            <input type="radio" name="cluster_display_mode" ng-model="cluster_display_mode" value="none" ng-change="set_cluster_display()" /> Hide all clusters
          </label>
        </div>
      </div>

    </div>

    <div class="col-md-3">
      <br/>
      <button class="btn btn-primary" ng-click="render_plot()">Update Plot</button>
      <button class="btn btn-default pull-right" ng-hide="has_parent_stage || has_parent_stage == null" ng-click="launch_stage2_modal()">Stage 2</button>
      <br/>
      <br/>
      <button class="btn btn-default pull-left" ng-click="expand_selected_clusters()">Expand Selected</button>
      <button class="btn btn-default pull-right" ng-click="collapse_selected_clusters()">Collapse Selected</button>
      <br/>
      <br/>
      <br/>
      <button class="btn btn-default pull-right" ng-click="launch_multi_label_modal()">Label Expanded</button>
    </div>

  </div>

  <div class="row">

    <div class="col-md-3">
      <prparallelplot></prparallelplot>
    </div>

    <div class="col-md-6">
      <div class="text-center" ng-show="retrieving_data">
        <br/>
        <br/>
        <h4><em>Retrieving data...</em></h4>
        <img src="/static/giant_whirligig.gif">
      </div>

      <div ng-hide="retrieving_data || !chosen_member">
        <prscatterplot></prscatterplot>
      </div>
    </div>

    <div class="col-md-3" style="overflow-y: auto; height: 520px">
        <table ts-wrapper id="data-table" class="table table-hover">
          <thead>
            <tr>
              <th style="width: 1%" ts-criteria="display_events">
                <div class="color-box" ng-click="toggle_all_events()">
                  <i ng-show="show_all_clusters" class="fa fa-check master"></i>
                </div>
              </th>
              <th ts-criteria="cluster_index" ts-default="ascending">
                Cluster ID
              </th>
              <th ts-criteria="weight">
                Event %
              </th>
              <th ts-criteria="labels">
                Cluster Labels
              </th>
            </tr>
          </thead>

          <tbody>
          <tr ts-repeat ng-repeat="sc in plot_data.cluster_data">
            <td style="width: 1%" ng-class="{ hover: sc.highlighted || sc.selected }" ng-mouseover="highlight_cluster(sc)" ng-mouseleave="dehighlight_cluster(sc)">
              <div class="color-box" ng-style="{ 'background-color': sc.color }" ng-click="toggle_cluster_events(sc)">
                <i ng-show="sc.display_events" class="fa fa-check"></i>
              </div>
            </td>
            <td ng-class="{ hover: sc.highlighted || sc.selected }" ng-mouseover="highlight_cluster(sc)" ng-mouseleave="dehighlight_cluster(sc)">
              {{ sc.cluster_index }}
            </td>
            <td ng-class="{ hover: sc.highlighted || sc.selected }" ng-mouseover="highlight_cluster(sc)" ng-mouseleave="dehighlight_cluster(sc)">
              {{ sc.weight }}
            </td>
            <td ng-class="{ hover: sc.highlighted || sc.selected }" ng-mouseover="highlight_cluster(sc)" ng-mouseleave="dehighlight_cluster(sc)">

              <span class="panel-variant-label btn btn-success btn-xs" ng-repeat="label in sc.labels">
                {{ label.name }}

                <a ng-click="remove_cluster_label(label, sc)" tooltip="Delete" tooltip-placement="bottom">
                  <span style="color:white" class="fa fa-times align-middle"></span>
                </a>
              </span>

              <a class="btn btn-default btn-xs" ng-click="launch_single_label_modal(sc)" tooltip="Add Label" tooltip-placement="bottom">
                <span style="opacity: 0.4" class="fa fa-plus align-middle"></span>
              </a>

              <div ng-show="sc.label_error" class="text-error">
                {{ sc.label_error }}
              </div>

            </td>
          </tr>
          </tbody>
        </table>
    </div>

  </div>
</div>
