<div ng-controller="CategorizationController">
  <div ng-show="!dropSupported">HTML5 Drop File is not supported on this browser</div>

  <div class="drop-box" ng-show="dropSupported" ng-file-drop="onFileSelect($files);" ng-file-drop-available="dropSupported=true">

    <div class="row">
      <div class="col-md-4">
        <table>
            <tr>
                <td><strong>Project:</strong></td>
                <td>
                  <div ng-controller="ProjectQueryController">
                      <select class="form-control" ng-model="model.current_project" ng-change="projectChanged()" ng-options="p.project_name for p in model.projects">
                      </select>
                  </div>
                </td>
            </tr>
            <tr>
                <td><strong>Site:</strong></td>
                <td>
                  <div ng-controller="SiteQueryController">
                    <select class="form-control" ng-model="model.current_site" ng-change="siteChanged()" ng-options="s.site_name for s in model.sites">
                    </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td><strong>Cytometer:</strong></td>
                <td>
                  <div ng-controller="CytometerQueryController">
                    <select class="form-control" ng-model="model.current_cytometer" ng-options="c.cytometer_name for c in model.cytometers">
                    </select>
                  </div>
                </td>
            </tr>
            <tr>
                <td><strong>Acquisition Date:</strong></td>
                <td>
                  <input type="text" class="form-control" ng-click="open($event)" datepicker-popup="{{format}}" ng-model="current_acquisition_date" is-open="opened" datepicker-options="dateOptions" show-weeks="false" ng-required="true" close-text="Close" />
                </td>
            </tr>
            <tr>
                <td><strong>Site Panel:</strong></td>
                <td>
                  <div ng-controller="SitePanelQueryController">
                    <select class="form-control" ng-model="model.current_site_panel" ng-change="evaluateParameterMatch()" ng-options="s.name for s in model.site_panels">
                    </select>
                  </div>
                </td>
            </tr>
            <tr>
                <td><strong>Subject:</strong></td>
                <td>
                  <div ng-controller="SubjectQueryController">
                    <select class="form-control" ng-model="model.current_subject" ng-options="s.subject_code for s in model.subjects">
                    </select>
                  </div>
                </td>
            </tr>
            <tr>
                <td><strong>Visit:</strong></td>
                <td>
                  <div ng-controller="VisitTypeQueryController">
                    <select class="form-control" ng-model="model.current_visit" ng-options="v.visit_type_name for v in model.visit_types">
                    </select>
                  </div>
                </td>
            </tr>
            <tr>
                <td><strong>Stimulation:</strong></td>
                <td>
                  <div ng-controller="StimulationQueryController">
                    <select class="form-control" ng-model="model.current_stimulation" ng-options="s.stimulation_name for s in model.stimulations">
                    </select>
                  </div>
                </td>
            </tr>
            <tr>
                <td><strong>Specimen:</strong></td>
                <td>
                  <div ng-controller="SpecimenQueryController">
                    <select class="form-control" ng-model="model.current_specimen" ng-options="s.specimen_name for s in model.specimens">
                    </select>
                  </div>
                </td>
            </tr>
            <tr>
                <td><strong>Pre-treatment:</strong></td>
                <td>
                  <div ng-controller="PretreatmentQueryController">
                    <select class="form-control" ng-model="model.current_pretreatment" ng-options="p.name for p in model.pretreatments">
                    </select>
                  </div>
                </td>
            </tr>
            <tr>
                <td><strong>Storage:</strong></td>
                <td>
                  <div ng-controller="StorageQueryController">
                    <select class="form-control" ng-model="model.current_storage" ng-options="s.name for s in model.storages">
                    </select>
                  </div>
                </td>
            </tr>
        </table>
      </div>
      <div class="col-md-8">
        <table class="table table-hover">
          <thead>
            <tr>
              <th colspan="50">
                <div class=" text-center" style="position: relative">
                  <div style="position: absolute; left:0; padding-left: inherit;">
                    <input type="file" ng-file-select="onFileSelect($files)" multiple />
                  </div>
                  <h4>FCS Files</h4>
                  <div class="pull-right" style="position: absolute; right:0; top:0;">
                    <button class="btn btn-default btn-sm" data-ng-click="addSelectedToUploadQueue()">Add to Queue</button>
                  </div>
                </div>
              </th>
            </tr>
            <tr>
              <th style="width:1%;">
                <input type="checkbox" ng-model="master_file_queue_checkbox" ng-change="toggleAllFileQueue()"/>
              </th>
              <th>File Name</th>
              <th>Size</th>
              <th>Channels</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="f in model.file_queue">
              <td class="no-wrap">
                <input type="checkbox" ng-model="f.selected" />

                <script type="text/ng-template" id="sitePanelMismatchModal.html">
                    <div class="modal-header">
                        <h3>Incompatible site panel for {{ file.filename }}</h3>
                    </div>
                    <div class="modal-body">
                        <div class="text-warning">
                          <ul>
                            <li data-ng-repeat="error in file.errors" data-ng-bind-html="error.value">{{ error.key }}: {{ error.value }}</li>
                          </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="ok()">OK</button>
                    </div>
                </script>
                <button data-ng-show="f.errors" data-ng-click="open_site_panel_mismatch_modal(f)" class="btn btn-default btn-xs">
                  <span class="glyphicon glyphicon-exclamation-sign danger"></span> Error
                </button>
                <div ng-controller="SitePanelController">
                  <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#sitePanelModal">
                    Create Site Panel
                  </button>
                  <div ng-include="model.site_panel_url"></div>
                </div>

              </td>
              <td>

                <script type="text/ng-template" id="metadata_content.html">
                    <div class="modal-header">
                        <h3>Metadata from {{ file.filename }}</h3>
                    </div>
                    <div class="modal-body">
                        <div>
                          <ul>
                            <li data-ng-repeat="field in file.metadata">{{ field.key }}: {{ field.value }}</li>
                          </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="ok()">OK</button>
                    </div>
                </script>

                <script type="text/ng-template" id="channels_content.html">
                    <div class="modal-header">
                        <h3>Channel annotation from {{ file.filename }}</h3>
                    </div>
                    <div class="modal-body">
                      <table class="table-condensed">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>PnN</th>
                            <th>PnS</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr data-ng-repeat="channel in file.channels">
                            <td>{{ channel.channel }}</td>
                            <td>{{ channel.pnn }}</td>
                            <td>{{ channel.pns }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="ok()">OK</button>
                    </div>
                </script>

                <li class="list-unstyled dropdown">
                    <a href="#" class="dropdown-toggle no-wrap">
                      <strong>{{ f.filename }}</strong> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="btn-link">
                          <a data-ng-click="open_metadata_modal(f)">View Metadata</a>
                        </li>
                        <li class="btn-link">
                          <a data-ng-click="open_channels_modal(f)">View Channels</a>
                        </li>
                        <li class="divider"></li>
                        <li class="btn-link">
                          <a data-ng-click="removeFromFileQueue(f)">Remove</a>
                        </li>
                    </ul>
                </li>
              </td>
              <td>{{ f.file.size | bytes }}</td>
              <td>{{ f.channels.length }}</td>
              <td>{{ f.date }}</td>
            </tr>
          </tbody>
        </table>

        <h3 class="text-center instruction" ng-hide="model.file_queue.length > 0"><em>Drop files here</em></h3>

      </div>

    </div>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
        <th colspan="50" class="center">
          <div style="position:relative">
            <h4>Upload Queue <span class="badge badge-inverse align-top">{{ upload_queue.length }}</span></h4>
            <div style="position:absolute; left:0;top:0;">
              <button class="btn btn-default btn-sm" data-ng-click="clearUploaded()">
                Clear Uploaded
              </button>
              <button class="btn btn-default btn-sm" data-ng-click="clearSelected()">
                Clear Selected
              </button>
            </div>
            <div style="position:absolute; right:0;top:0;">
              <button class="btn btn-default btn-sm" data-ng-click="uploadSelected()">
                Upload Selected
              </button>
            </div>
          </div>
        </th>
    </tr>
    <tr>
        <th>
            <input type="checkbox" ng-model="master_upload_queue_checkbox" ng-change="toggleAllUploadQueue()"/>
        </th>
        <th>File Name</th>
        <th>Acquisition Date</th>
        <th>Site Panel</th>
        <th>Subject</th>
        <th>Visit</th>
        <th>Stimulation</th>
        <th>Specimen</th>
        <th>Pre-treatment</th>
        <th>Storage</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="f in model.upload_queue">
      <td>
        <input ng-hide="f.uploaded || f.uploading" type="checkbox" ng-model="f.selected" ng-disabled="f.uploading" />
        <img data-ng-show="f.uploading && ! f.uploaded" src="/static/whirligig.gif">
        <span data-ng-show="f.uploaded" class="glyphicon glyphicon-ok"></span>

        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3>Error uploading {{ file.filename }}</h3>
            </div>
            <div class="modal-body">
                <div class="text-warning">
                  <ul>
                    <li data-ng-repeat="error in file.errors" data-ng-bind-html="error.value">{{ error.key }}: {{ error.value }}</li>
                  </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
            </div>
        </script>
        <button data-ng-show="f.errors" data-ng-click="open_error_modal(f)" class="btn btn-default btn-xs">
          <span class="glyphicon glyphicon-exclamation-sign danger"></span> Error
        </button>

      </td>
      <td>

        <script type="text/ng-template" id="metadata_content.html">
            <div class="modal-header">
                <h3>Metadata from {{ file.filename }}</h3>
            </div>
            <div class="modal-body">
                <div>
                  <ul>
                    <li data-ng-repeat="field in file.metadata">{{ field.key }}: {{ field.value }}</li>
                  </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
            </div>
        </script>

        <script type="text/ng-template" id="channels_content.html">
            <div class="modal-header">
                <h3>Channel annotation from {{ file.filename }}</h3>
            </div>
            <div class="modal-body">
              <table class="table-condensed">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>PnN</th>
                    <th>PnS</th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-ng-repeat="channel in file.channels">
                    <td>{{ channel.channel }}</td>
                    <td>{{ channel.pnn }}</td>
                    <td>{{ channel.pns }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
            </div>
        </script>

        <li class="list-unstyled dropdown">
        <progressbar class="progress" value="f.progress" type="warning">
            <a href="#" class="dropdown-toggle no-wrap">
              <strong>{{ f.filename }}</strong> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li class="btn-link">
                  <a data-ng-click="open_metadata_modal(f)">View Metadata</a>
                </li>
                <li class="btn-link">
                  <a data-ng-click="open_channels_modal(f)">View Channels</a>
                </li>
            </ul>
        </progressbar>
        </li>
      </td>
      <td>{{ f.acquisition_date | date }}</td>
      <td>{{ f.site_panel.name }}</td>
      <td>{{ f.subject.subject_code }}</td>
      <td>{{ f.visit_type.visit_type_name }}</td>
      <td>{{ f.stimulation.stimulation_name }}</td>
      <td>{{ f.specimen.specimen_name }}</td>
      <td>{{ f.pretreatment.name }}</td>
      <td>{{ f.storage.name }}</td>
    </tr>
  </tbody>
</table>
