

<table>
    <tr>
        <td>Project:</td>
        <td>
            <select ng-model="current_project" ng-change="updateMetadata()" ng-options="p.project_name for p in projects">
            </select>
            <br />
        </td>
    </tr>
    <tr>
        <td>Site:</td>
        <td>
            <select ng-model="current_site" ng-options="s.site_name for s in sites">
            </select>
            <br />
        </td>
    </tr>
</table>

    You selected the following: <br />
    Project: <br />
    <pre>{{ current_project | json }}</pre><br />
    Site: <br />
    <pre>{{ current_site | json }}<br /></pre>