language: python
virtualenv:
  system_site_packages: true
before_install:
 - sudo apt-get install -qq python-numpy
 - pip install git+https://github.com/whitews/FlowIO.git
python:
  - "2.7"
install:
  - pip install -q -r requirements/travis-ci.txt --use-mirrors
  - cp reflow/settings_tests.py reflow/settings.py
script: python manage_tests.py test repository
notifications:
  email: false
