{% extends "base.html" %}
{% load url from future %}
{% load breadcrumbs %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url project.project_name 'view_project' project.id %}
    {% breadcrumb_url 'Users' 'view_project_users' project.id %}
    {% breadcrumb "Add User" %}
  </ul>
{% endblock %}

{% block body %}
  <div class="container">
      <form class="form-horizontal" action="{% url 'add_user_permissions' project.id %}" method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
          <div class="form-group text-error">
            {{ form.non_field_errors }}
          </div>
        {% endif %}

        {% for field in form %}
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
              <span class="align-middle text-warning">&nbsp;{{ field.errors|striptags }}</span>
            {% endif %}
          </div>
        {% endfor %}
        <div class="form-group">
          <button class="col-sm-offset-2 btn btn-small btn-success" type="submit">Select User</button>
        </div>
      </form>
  </div>
{% endblock %}