{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load breadcrumbs %}

{% block toes %}
<script src="{% static 'jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js' %}"></script>

<script>
$(document).ready(function () {
    $('#panel-parameter-form').submit(function ()
    {
        $('button#process-parameters').attr('disabled', true);
        $.ajax(
        {
            data: $(this).serialize(),
            dataType: "json",
            type: $(this).attr('method'),
            url: $(this).attr('action'),
            success: function (json) {
                $.each(json.messages, function (i, value)
                {
                    $('#render_parameters_form').append('<p class=\"text-info\">' + value + '</p>');
                });
            },
            error: function(xhr, status, error) {
                $('#parameter-form-errors').children().remove();
                var obj = JSON.parse(xhr.responseText);

                $.each(obj.messages, function (i, value)
                {
                    $('#parameter-form-errors').append('<p class=\"text-warning\">' + value + '</p>');
                });
            }
        });
        $('button#process-parameters').attr('disabled', false);
        return false;
    });
});

function add_antibody(selector) {
    // clone last antibody select
    var new_select_span = selector.siblings("span.antibody-field").last().clone();
    var new_select = new_select_span.children("select");
    var name = new_select.attr("name");
    var id = new_select.attr("id");

    // get the TOTAL_FORMS input, increment the form count
    var total_form = selector.closest("td").children("input[id*=TOTAL_FORMS]");
    total_form.val((parseInt(total_form.val())  + 1));

    var m = name.match(/-(\d+)-antibody/);
    var new_select_id = parseInt(m[1]) + 1;
    var new_name = name.replace(/-(\d+)-antibody/, "-" + new_select_id + "-antibody");
    var new_id = name.replace(/-(\d+)-antibody/, "-" + new_select_id + "-antibody");
    new_select.attr({"name": new_name, "id": new_id});

    new_select_span.find(".remove-antibody").show();
    new_select_span.append(
      " ");
    selector.closest("td").append(
      new_select_span,
      "<br>",
      selector);
    return false;
}

function remove_antibody(selector) {
    var total_form = selector.closest("td").children("input[id*=TOTAL_FORMS]");
    total_form.val((parseInt(total_form.val())  - 1));

    var parent_td = selector.parents("td");
    selector.parent("span").prev("br").remove();
    selector.parent("span").remove();  // contains selector

    parent_td.children("span.antibody-field").children("select").each(function(i, el) {
      el.name = el.name.replace(/-(\d+)-antibody/, "-" + i + "-antibody");
      el.id = el.id.replace(/-(\d+)-antibody/, "-" + i + "-antibody");
    });
    return false;
}

</script>

{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url site.project.project_name 'view_project' site.project.id %}
    {% breadcrumb_url site.site_name 'view_site' site.id %}
    {% breadcrumb_url 'Site Panels' 'view_site_panels' site.project.id %}
    {% breadcrumb "Add Site Panel" %}
  </ul>
{% endblock %}

{% block body %}
  <div class="container">

    {% if not preform_valid %}

    <form class="form-horizontal" enctype="multipart/form-data" action="{% url 'add_site_panel' site.id %}" method="post">
      {% csrf_token %}
        {% if preform.non_field_errors %}
          <div class="control-group text-error">
            {{ preform.non_field_errors }}
          </div>
        {% endif %}

        {% for field in preform %}
          <div class="control-group">
            <label class="control-label">{{ field.label }}</label>
            <div class="controls">
              {{ field }}
              {% if field.errors %}
                <span class="align-middle text-warning">&nbsp;{{ field.errors|striptags }}</span>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      <div class="control-group">
        <div class="controls">
          <button class="btn btn-small btn-success" type="submit">Submit File</button>
        </div>
      </div>
    </form>

    {% else %}

    <div id="render_parameters_form">

      <div id="parameter-form-errors"></div>

      <div class="well">
        <table>
        {% for param in project_panel.projectpanelparameter_set.all %}
          <tr>
            <td>
              ID: {{ param.id }}
            </td>
            <td>
              {{ param.get_parameter_type_display }}
            </td>
            <td>
              {{ param.get_parameter_value_type_display|default_if_none:"" }}
            </td>
            <td>
              {% if param.fluorochrome %}
              {{ param.fluorochrome.fluorochrome_abbreviation }}
              {% endif %}
            </td>
            <td>
              {% for param_ab in param.projectpanelparameterantibody_set.all %}
              {{ param_ab.antibody.antibody_abbreviation }}<br>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
        </table>
      </div>

      <form id="panel-parameter-form" class="form-horizontal" action="{% url 'process_site_panel_post' site.id %}" method="post">
      {% csrf_token %}

      <div class="hide">
        {{ site_panel_form }}
      </div>

      {{ parameter_formset.management_form }}

        <table class="table">
          <thead>
            <tr>
              <th>FCS Channel #</th>
              <th>FCS PnN Text</th>
              <th>FCS PnS Text</th>
              <th>Function</th>
              <th>Value Type</th>
              <th>Fluorochrome</th>
              <th>Antibodies</th>
            </tr>
          </thead>
          {% for parameter_form in parameter_formset %}
          <tr class="parameter-fields">
            <td>
              {{ parameter_form.fcs_number.value }}
              <div class="hide">{{ parameter_form.fcs_number }}</div>
            </td>
            <td>
              {{ parameter_form.fcs_text.value }}
              <div class="hide">{{ parameter_form.fcs_text }}</div>
            </td>
            <td>
              {{ parameter_form.fcs_opt_text.value }}
              <div class="hide">{{ parameter_form.fcs_opt_text }}</div>
            </td>
            <td>
              {{ parameter_form.parameter_type }}
              {{ parameter_form.parameter_type.errors }}
            </td>
            <td>
              {{ parameter_form.parameter_value_type }}
              {{ parameter_form.parameter_value_type.errors }}
            </td>
            <td>
              {{ parameter_form.fluorochrome }}
              {{ parameter_form.fluorochrome.errors }}
            </td>
          {% if parameter_form.nested %}
            <td>
              {% for nested_formset in parameter_form.nested %}
                {{ nested_formset.management_form }}
                {% for nested_form in nested_formset.forms %}
                  <span class="antibody-field no-wrap">
                    {{ nested_form.antibody }}
                    <a class="hide remove-antibody align-middle" href="javascript:void(0)" onclick="remove_antibody($(this))">
                      <i class="icon-remove align-middle\"></i>
                    </a>
                  </span>
                {% endfor %}
              {% endfor %}
              <br/>
              <a href="javascript:void(0)" onclick="add_antibody($(this))">Add Another Antibody</a>
            </td>
          {% else %}
            <td></td>
          {% endif %}
          </tr>
          {% endfor %}
        </table>
      <div class="control-group">
        <div class="controls">
          <button id="process-parameters" class="btn btn-small btn-success" type="submit">Save</button>
        </div>
      </div>
    </form>



    </div>





    {% endif %}

  </div>
{% endblock %}