{% extends "base.html" %}
{% load url from future %}
{% load breadcrumbs %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url 'Admin' 'admin' %}
    {% breadcrumb_url 'Markers' 'view_markers' %}
    {% if add_or_edit == 'edit' %}
      {% breadcrumb "Edit Marker" %}
    {% else %}
      {% breadcrumb "Add Marker" %}
    {% endif %}
  </ul>
{% endblock %}

{% block body %}
  <div class="container">
      {% if add_or_edit == 'edit' %}
      <form class="form-horizontal" action="{% url 'edit_marker' marker_id %}" method="post">
      {% else %}
      <form class="form-horizontal" action="{% url 'add_marker' %}" method="post">
      {% endif %}
        {% csrf_token %}

        {% include "generic_form_fields.html" %}

      </form>
  </div>
{% endblock %}