{% extends "base.html" %}
{% load url from future %}
{% load breadcrumbs %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url project.project_name 'view_project' project.id %}
    {% breadcrumb_url 'Samples' 'view_project_samples' project.id %}
    {% breadcrumb "Add Sample" %}
  </ul>
{% endblock %}

{% block body %}
    <div class="container">
        <form class="form-horizontal" enctype="multipart/form-data" action="{% url 'add_sample' project.id %}" method="post">
            {% csrf_token %}

            {% include "generic_form_fields.html" %}

        </form>
    </div>
{% endblock %}