{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load breadcrumbs %}

{% block toes %}
<script src="{% static 'jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js' %}"></script>

<script>
$(".add_antibody").click(function() {
    // clone last antibody select
    var new_select = $(this).closest("td").children("select").last().clone();
    var name = new_select.attr("name");
    var id = new_select.attr("id");

    // get the TOTAL_FORMS input, increment the form count
    var total_form = $(this).closest("td").children("input[id*=TOTAL_FORMS]");
    total_form.val((parseInt(total_form.val())  + 1));

    var m = name.match(/-(\d+)-antibody/);
    var new_select_id = parseInt(m[1]) + 1;
    var new_name = name.replace(/-(\d+)-antibody/, "-" + new_select_id + "-antibody");
    var new_id = name.replace(/-(\d+)-antibody/, "-" + new_select_id + "-antibody");
    new_select.attr({"name": new_name, "id": new_id});

    $(this).closest("td").append("<br/>");
    $(this).closest("td").append(new_select);
    $(this).closest("td").append($(this));
    return false;
});

$("#add_parameter").click(function() {
    // clone last antibody select
    var new_row = $(this).closest("tr").prev("tr").clone();
    var m = new_row.children("td").children("select").attr("name").match(/_set-(\d+)-/);
    var new_set_id = parseInt(m[1]) + 1;
    var new_name, new_id;

    new_row.children("td").children("select").each(function () {
        new_name = $(this).attr("name").replace(/_set-(\d+)-/, "_set-" + new_set_id + "-");
        new_id = $(this).attr("id").replace(/_set-(\d+)-/, "_set-" + new_set_id + "-");
        $(this).attr({"name": new_name, "id": new_id});
    });
    new_row.children("td").children("input").each(function () {
        new_name = $(this).attr("name").replace(/_set-(\d+)-/, "_set-" + new_set_id + "-");
        new_id = $(this).attr("id").replace(/_set-(\d+)-/, "_set-" + new_set_id + "-");
        $(this).attr({"name": new_name, "id": new_id});
    });
    var ab_total_form = new_row.children("input[id*=TOTAL_FORMS]");
    ab_total_form.val(1);

    var param_total_form = $(document).find("#id_projectpanelparameter_set-TOTAL_FORMS");
    param_total_form.val((parseInt(param_total_form.val())  + 1));

    $(this).closest("table").append(new_row);
    $(this).closest("table").append($(this).closest("tr"));
    return false;
});
</script>
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url project.project_name 'view_project' project.id %}
    {% breadcrumb_url 'Project Panels' 'view_project_panels' project.id %}
    {% breadcrumb "Add Project Panel" %}
  </ul>
{% endblock %}

{% block body %}
  <div class="container">
    <form class="form-horizontal" action="{% url 'add_project_panel' project.id %}" method="post">
      {% csrf_token %}
        {% if panel_form.non_field_errors or parameter_formset.non_form_errors %}
          <div class="control-group text-error">
            {{ panel_form.non_field_errors }}
            {{ parameter_formset.non_form_errors }}
          </div>
        {% endif %}

        {% for field in panel_form %}
          <div class="control-group">
            <label class="control-label">{{ field.label }}</label>
            <div class="controls">
              {{ field }}
              {% if field.errors %}
                <span class="align-middle text-warning">&nbsp;{{ field.errors|striptags }}</span>
              {% endif %}
            </div>
          </div>
        {% endfor %}
          {{ parameter_formset.management_form }}
        <table class="table">
          <thead>
            <tr>
              <th>Type</th>
              <th>Value Type</th>
              <th>Fluorochrome</th>
              <th>Antibodies</th>
            </tr>
          </thead>
          {% for parameter_form in parameter_formset %}
          <tr>
          {% for field in parameter_form.visible_fields %}
            <td>
            {{ field }}
            {{ field.errors }}
            </td>
          {% endfor %}
          {% if parameter_form.nested %}
            <td>
              {% for nested_formset in parameter_form.nested %}
                {{ nested_formset.management_form }}
                {% for nested_form in nested_formset.forms %}
                  {{ nested_form.antibody }}
                {% endfor %}
              {% endfor %}
              <a href="#" class="add_antibody">Add Another Antibody</a>
            </td>
          {% endif %}
          </tr>
          {% if forloop.last %}
          <tr>
            <td colspan="50">
              <a href="#" id="add_parameter">Add Another Parameter</a>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </table>
      <div class="control-group">
        <div class="controls">
          <button class="btn btn-small btn-success" type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}