{% extends "base.html" %}
{% load url from future %}
{% block toes %}

<script>
  $("#sample-set-form").submit(function() {
    var sample_list = $("input[type=hidden][name='samples']")

    if (sample_list.length < 1) {
      $("#dialog").text("A set must contain at least one sample.");
      $("#dialog").dialog({
        title: "Error",
        autoOpen: false
      });
      $("#dialog").dialog("open");
      return false;
    }
    return true;
  });

  function query_samples() {

    var query_strings = []
    query_strings[0] = "?subject__project={{ project.id }}";

    var form_params = $('#sample-set-form').serializeArray();

    form_params.forEach(function(param) {
      switch (param.name) {
        case 'sites':
          query_strings.push("site="+param.value);
          break;
        case 'subjects':
          query_strings.push("subject="+param.value);
          break;
        case 'visits':
          query_strings.push("visit="+param.value);
          break;
        case 'specimens':
          query_strings.push("specimen="+param.value);
          break;
      }
    });

    $.ajax({
      type: "GET",
      url: "{% url 'sample-list' %}" + query_strings.join("&"),
      dataType: "json",
      success: function(json) {
        $("#sample_results").empty()
        $("#sample_results").append(
          '<table id="results_table" class="table table-bordered table-striped">' +
          '<thead>' +
          '<tr><th colspan="5" class="center"><h4>Query Results</h4></th></tr>' +
          '<tr><th>File</th><th>Subject</th><th>Site</th><th>Visit</th><th>Specimen</th></tr>' +
          '</thead>'
        );

        json.results.forEach(function(r) {
          $("#results_table").append(
            '<tr>' +
            '<td>'+ r.original_filename +
            "<input type='hidden' name='samples' value='" + r.id +"' />" +
            '<i style="opacity: 0.4; cursor: pointer" class="remove-sample icon-remove align-middle pull-right"></i>' +
            '</td>' +
            '<td>'+ r.subject_id + '</td>' +
            '<td>'+ r.site_name + '</td>' +
            '<td>'+ r.visit_name + '</td>' +
            '<td>'+ r.specimen_name + '</td>' +
            '</tr>'
          );
        });

        $(".remove-sample").click( function() {
          $(this).closest("tr").remove();
        });

        $("#sample_results").append('</table>');
      },
      error: function(response) {
        $("#dialog").text(response.responseText);
        $("#dialog").dialog({
          title: "Error",
          autoOpen: false
        });
        $("#dialog").dialog("open");
      }
    });
  }
  function addClickHandlers() {
    $("#query").click( function() {
      query_samples();
    });
  }
  $(document).ready(addClickHandlers);
</script>
{% endblock %}
{% block body %}
    <div id="dialog">
      <p></p>
    </div>

    <div class="container">
        <div class="row lead">
          <div class="span4">
            <a href="{% url 'view_project' project.id %}">{{ project.project_name }}</a>
          </div>
          <div class="pull-right">Create Sample Set</div>
        </div>
        <br/>
        <form id="sample-set-form" class="form-horizontal" action="{% url 'add_sample_set' project.id %}" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="control-group text-error">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <div class="control-group">
                <label class="control-label">{{ form.name.label }}</label>
                <div class="controls">

                    {{ form.name }}

                    {% if form.name.errors %}
                        <span class="align-middle text-warning">&nbsp;{{ form.name.errors|striptags }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ form.description.label }}</label>
                <div class="controls">

                    {{ form.description }}

                    {% if form.description.errors %}
                        <span class="align-middle text-warning">&nbsp;{{ form.description.errors|striptags }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ form.sites.label }}</label>
                <div class="controls">

                    {{ form.sites }}

                    {% if form.sites.errors %}
                        <span class="align-middle text-warning">&nbsp;{{ form.sites.errors|striptags }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ form.subjects.label }}</label>
                <div class="controls">

                    {{ form.subjects }}

                    {% if form.subjects.errors %}
                        <span class="align-middle text-warning">&nbsp;{{ form.subjects.errors|striptags }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ form.visit_types.label }}</label>
                <div class="controls">

                    {{ form.visit_types }}

                    {% if form.visit_types.errors %}
                        <span class="align-middle text-warning">&nbsp;{{ form.visit_types.errors|striptags }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ form.specimens.label }}</label>
                <div class="controls">

                    {{ form.specimens }}

                    {% if form.specimens.errors %}
                        <span class="align-middle text-warning">&nbsp;{{ form.specimens.errors|striptags }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button id="query" class="btn btn-small btn-success" type="button">Query</button>
                    <button class="btn btn-small btn-primary" type="submit">Save</button>
                </div>
            </div>

            <div id="sample_results"></div>
        </form>
    </div>
{% endblock %}