{% extends "base.html" %}
{% load url from future %}
{% load breadcrumbs %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url project.project_name 'view_project' project.id %}
    {% breadcrumb_url 'Visit Types' 'project_visit_types' project.id %}
    {% breadcrumb "Add Visit Type" %}
  </ul>
{% endblock %}

{% block body %}
    <div class="container">
        <form class="form-horizontal" action="{% url 'add_visit_type' project.id %}" method="post">
            {% csrf_token %}

            {% include "generic_form_fields.html" %}

        </form>
    </div>
{% endblock %}