{% extends "base.html" %}
{% load url from future %}
{% load breadcrumbs %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url 'Admin' 'admin' %}
    {% if add_or_edit == 'edit' %}
      {% breadcrumb "Edit Project" %}
    {% else %}
      {% breadcrumb "Add Project" %}
    {% endif %}
  </ul>
{% endblock %}

{% block body %}
  <div class="container">
    {% if add_or_edit == 'edit' %}
    <form class="form-horizontal" action="{% url 'edit_project' project_id %}" method="post">
    {% else %}
    <form class="form-horizontal" action="{% url 'add_project' %}" method="post">
    {% endif %}
      {% csrf_token %}

      {% include "generic_form_fields.html" %}

    </form>
  </div>
{% endblock %}