{% extends "base.html" %}
{% load url from future %}
{% load breadcrumbs %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url project.project_name 'view_project' project.id %}
    {% breadcrumb_url 'Compensation Matrices' 'project_compensations' project.id %}
    {% if add_or_edit == 'add' %}
    {% breadcrumb "Add Compensation Matrix" %}
    {% else %}
    {% breadcrumb "Edit Compensation Matrix" %}
    {% endif %}
  </ul>
{% endblock %}

{% block body %}
    <div class="container">
        {% if add_or_edit == 'edit' %}
        <form class="form-horizontal" action="{% url 'edit_compensation' project.id compensation_id %}" method="post">
        {% else %}
        <form class="form-horizontal" action="{% url 'add_compensation' project.id %}" method="post">
        {% endif %}
          {% csrf_token %}

          {% include "generic_form_fields.html" %}

        </form>
    </div>
{% endblock %}