{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load breadcrumbs %}

{% block toes %}
<script src="{% static 'jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js' %}"></script>



{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url site.project.project_name 'view_project' site.project.id %}
    {% breadcrumb_url site.site_name 'view_site' site.id %}
    {% breadcrumb_url 'Site Panels' 'view_site_panels' site.project.id %}
    {% breadcrumb "Add Site Panel" %}
  </ul>
{% endblock %}

{% block body %}
  <div class="container">
    {% if not preform_valid %}
    <form class="form-horizontal" enctype="multipart/form-data" action="{% url 'add_site_panel' site.id %}" method="post">
      {% csrf_token %}
        {% if preform.non_field_errors %}
          <div class="control-group text-error">
            {{ preform.non_field_errors }}
          </div>
        {% endif %}

        {% for field in preform %}
          <div class="control-group">
            <label class="control-label">{{ field.label }}</label>
            <div class="controls">
              {{ field }}
              {% if field.errors %}
                <span class="align-middle text-warning">&nbsp;{{ field.errors|striptags }}</span>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      <div class="control-group">
        <div class="controls">
          <button class="btn btn-small btn-success" type="submit">Submit File</button>
        </div>
      </div>
    </form>
    {% else %}
    <div id="render_parameters_form hide">
      {% for channel, value in channels.items %}
        {{ channel }}, {{ value.n }}, {{ value.s }}<br>
      {% endfor %}
      {% for param in project_panel.projectpanelparameter_set.all %}
        {{ param }}
      {% endfor %}
    </div>
    {% endif %}
  </div>
{% endblock %}