{% load url from future %}
<script>
    $(document).ready(function () {
        $('#add_parameter_form').submit(function ()
        {
            $('#add_parameter_button').attr('disabled', true);
            $.ajax(
            {
                data: $(this).serialize(),
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                success: function (xhr, status, error) {
                    window.location.reload(true);
                },
                error: function(xhr, status, error) {
                    $('#error_message').empty();
                    var obj = JSON.parse(xhr.responseText);
                    $.each(obj['__all__'], function (i, value)
                    {
                        $('#error_message').append('<p class=\"text-warning\">' + value + '</p>');
                    });

                    $('#add_parameter_button').attr('disabled', false);
                }
            });
            return false;
        });
    });
</script>
<div class="lead">{{ panel.panel_name }}</div>
<form id="add_parameter_form" class="form-horizontal" action="{% url 'add_panel_parameter' panel.id %}" method="post">
    {% csrf_token %}
    <div id="error_message"></div>
    {% for field in form %}
        <div class="control-group">
            <label class="control-label">{{ field.label }}</label>
            <div class="controls">{{ field }}</div>
        </div>
    {% endfor %}
    <div class="control-group">
        <div class="controls">
            <button id="add_parameter_button" class="btn btn-small btn-primary" type="submit">Save</button>
        </div>
    </div>
</form>
