{% extends "base.html" %}
{% load url from future %}
{% load repository_filters %}
{% load breadcrumbs %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb 'Admin' %}
  </ul>
{% endblock %}

{% block body %}
  <div class="container">
  <div class="well">
    <div class="row-fluid">
      <div class="span5">
        <h4>Projects</h4>
          <a href="{% url 'add_project' %}">Add Project</a>
      </div>
    </div>
  </div>
  <div class="well">
    <div class="row-fluid">
      <div class="span5">
        <h4>Specimens</h4>

            <a href="{% url 'view_specimens' %}">View</a><br/>
            <a href="{% url 'add_specimen' %}">Add Specimen</a><br/>

      </div>
      <div class="span5">
        <h4>Staining</h4>

            <a href="{% url 'view_stains' %}">View</a><br/>
            <a href="{% url 'add_stain' %}">Add Stain</a><br/>

      </div>
    </div>
    <div class="row-fluid"><br/>
    </div>
    <div class="row-fluid">
      <div class="span5">
        <h4>Antibodies</h4>

            <a href="{% url 'view_antibodies' %}">View</a><br/>
            <a href="{% url 'add_antibody' %}">Add Antibody</a><br/>

      </div>
      <div class="span5">
        <h4>Fluorochromes</h4>

            <a href="{% url 'view_fluorochromes' %}">View</a><br/>
            <a href="{% url 'add_fluorochrome' %}">Add Fluorochrome</a><br/>

      </div>
    </div>
  </div>
  <div class="well">
    <div class="row-fluid">

      <div class="span5">
        <h4>Process Manager</h4>

            <a href="{% url 'process_dashboard' %}">Dashboard</a><br/>

      </div>
    </div>
  </div>
  </div>
{% endblock %}