{% extends "base.html" %}
{% load url from future %}
{% block extra_head %}
    <script type="text/javascript" src="{{ STATIC_URL }}d3.js"></script>
{% endblock %}
{% block body %}
<div class="container">
  <div class="row lead">
      <div class="span4">D3 Test</div>
  </div>
  <div class='content'>
      <!-- /the chart goes here -->
  </div>
</div>
<script type="text/javascript">
    var xdata = [5, 10, 15, 20];
    var ydata = [3, 17, 4, 6];

    var margin = {top: 20, right: 15, bottom: 60, left: 60}
            , width = 960 - margin.left - margin.right
            , height = 500 - margin.top - margin.bottom;

    var x = d3.scale.linear()
            .domain([0, d3.max(xdata)])
            .range([ 0, width ]);

    var y = d3.scale.linear()
            .domain([0, d3.max(ydata)])
            .range([ height, 0 ]);

    var chart = d3.select('.content')
            .append('svg:svg')
            .attr('width', width + margin.right + margin.left)
            .attr('height', height + margin.top + margin.bottom)
            .attr('class', 'chart')

    var main = chart.append('g')
            .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')')
            .attr('width', width)
            .attr('height', height)
            .attr('class', 'main')

    // draw the x axis
    var xAxis = d3.svg.axis()
            .scale(x)
            .orient('bottom');

    main.append('g')
            .attr('transform', 'translate(0,' + height + ')')
            .attr('class', 'main axis date')
            .call(xAxis);

    // draw the y axis
    var yAxis = d3.svg.axis()
            .scale(y)
            .orient('left');

    main.append('g')
            .attr('transform', 'translate(0,0)')
            .attr('class', 'main axis date')
            .call(yAxis);

    var g = main.append("svg:g");

    g.selectAll("scatter-dots")
            .data(ydata)
            .enter().append("svg:circle")
            .attr("cy", function (d) { return y(d); } )
            .attr("cx", function (d,i) { return x(xdata[i]); } )
            .attr("r", 4)
            .style("fill", "blue");
</script>
{% endblock %}