{% extends "base.html" %}
{% load url from future %}
{% load breadcrumbs %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url subject.project.project_name 'view_project' subject.project.id %}
    {% breadcrumb_url 'Subjects' 'project_subjects' subject.project.id %}
    {% breadcrumb_url subject.subject_id 'view_subject' subject.id %}
    {% breadcrumb "Edit Subject" %}
  </ul>
{% endblock %}

{% block body %}
    <div class="container">
        <form class="form-horizontal" action="{% url 'edit_subject' subject.project_id subject.id %}" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="control-group text-error">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            {% for field in form %}
                <div class="control-group">
                    <label class="control-label">{{ field.label }}</label>
                    <div class="controls">
                      {{ field }}
                      {% if field.errors %}
                      <span class="align-middle text-warning">&nbsp;{{ field.errors|striptags }}</span>
                      {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-small btn-primary" type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}