{% extends "base.html" %}
{% load url from future %}
{% load breadcrumbs %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url panel.project.project_name 'view_project' panel.project_id %}
    {% breadcrumb_url 'Project Panels' 'view_project_panels' panel.project_id %}
    {% breadcrumb panel.panel_name %}
    {% breadcrumb "Edit Site Panel" %}
  </ul>
{% endblock %}

{% block body %}
    <div class="container">
        <form class="form-horizontal" action="{% url 'edit_project_panel' panel.id %}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            {% for field in form %}
                <div class="control-group">
                    <label class="control-label">{{ field.label }}</label>
                    <div class="controls">
                        {{ field }}
                        {% if field.errors %}
                            <span class="align-middle text-warning">&nbsp;{{ field.errors|striptags }}</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-small btn-success" type="submit">Save Edits</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}