{% extends "base.html" %}
{% load url from future %}
{% load breadcrumbs %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url visit_type.project.project_name 'view_project' visit_type.project.id %}
    {% breadcrumb_url 'Visit Types' 'project_visit_types' visit_type.project.id %}
    {% breadcrumb visit_type.visit_type_name %}
    {% breadcrumb "Edit Visit Type" %}
  </ul>
{% endblock %}

{% block body %}
    <div class="container">
        <form class="form-horizontal" action="{% url 'edit_visit_type' visit_type.project_id visit_type.id %}" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="control-group text-error">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            {% for field in form %}
                <div class="control-group">
                    <label class="control-label">{{ field.label }}</label>
                    <div class="controls">
                        {{ field }}
                        {% if field.errors %}
                            <span class="align-middle text-warning">&nbsp;{{ field.errors|striptags }}</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-small btn-success" type="submit">Save Edits</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}