{% extends "base.html" %}
{% load url from future %}
{% load breadcrumbs %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url subject.project.project_name 'view_project' subject.project.id %}
    {% breadcrumb_url 'Subjects' 'view_subjects' subject.project.id %}
    {% breadcrumb subject.subject_code %}
    {% breadcrumb "Edit Subject" %}
  </ul>
{% endblock %}

{% block body %}
    <div class="container">
        <form class="form-horizontal" action="{% url 'edit_subject' subject.id %}" method="post">
            {% csrf_token %}

            {% include "generic_form_fields.html" %}

        </form>
    </div>
{% endblock %}