{% extends "base.html" %}
{% load url from future %}
{% load breadcrumbs %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url visit_type.project.project_name 'view_project' visit_type.project.id %}
    {% breadcrumb_url 'Visit Types' 'project_visit_types' visit_type.project.id %}
    {% breadcrumb visit_type.visit_type_name %}
    {% breadcrumb "Edit Visit Type" %}
  </ul>
{% endblock %}

{% block body %}
    <div class="container">
        <form class="form-horizontal" action="{% url 'edit_visit_type' visit_type.id %}" method="post">
            {% csrf_token %}

            {% include "generic_form_fields.html" %}

        </form>
    </div>
{% endblock %}