{% extends "base.html" %}
{% load url from future %}
{% load breadcrumbs %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url subject_group.project.project_name 'view_project' subject_group.project.id %}
    {% breadcrumb_url 'Subject Groups' 'subject_groups' subject_group.project.id %}
    {% breadcrumb subject_group.group_name %}
    {% breadcrumb "Edit Subject Group" %}
  </ul>
{% endblock %}

{% block body %}
    <div class="container">
        <form class="form-horizontal" action="{% url 'edit_subject_group' subject_group.project_id subject_group.id %}" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="control-group text-error">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            {% for field in form %}
                <div class="control-group">
                    <label class="control-label">{{ field.label }}</label>
                    <div class="controls">
                        {{ field }}
                        {% if field.errors %}
                            <span class="align-middle text-warning">&nbsp;{{ field.errors|striptags }}</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-small btn-primary" type="submit">Save Edits</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}