{% extends "base.html" %}
{% load url from future %}
{% load breadcrumbs %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url sample.site_panel.site.project.project_name 'view_project' sample.site_panel.site.project.id %}
    {% breadcrumb_url 'Samples' 'view_project_samples' sample.site_panel.site.project.id %}
    {% breadcrumb sample.original_filename %}
    {% breadcrumb "Edit Sample" %}
  </ul>
{% endblock %}

{% block body %}
  <div class="container">
    <form class="form-horizontal" enctype="multipart/form-data" action="{% url 'edit_sample' sample.id %}" method="post">
      {% csrf_token %}

      {% include "generic_form_fields.html" %}

    </form>
  </div>
{% endblock %}