{% extends "base.html" %}
{% load url from future %}
{% load breadcrumbs %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url project.project_name 'view_project' project.id %}
    {% breadcrumb_url 'Users' 'view_project_users' project.id %}
    {% breadcrumb project_user.username %}
    {% breadcrumb "Manage Project Permissions" %}
  </ul>
{% endblock %}

{% block body %}
    <div class="container">
        <form class="form-horizontal" action="{% url 'manage_project_user' project.id project_user.id %}" method="post">
            {% csrf_token %}

            {% include "generic_form_fields.html" %}

        </form>
    </div>
{% endblock %}