{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load breadcrumbs %}

{% block toes %}
<script src="{% static 'jquery-ui-1.9.2.custom/js/jquery.tablesorter.min.js' %}"></script>

<script>
$(function() {
  $("table#process-table").tablesorter({
    sortList: [[0,0]],
    headers: {
      0: { sorter: false},
      2: { sorter: false}
    }
  });
  $("table#worker-table").tablesorter({
    sortList: [[0,0]],
    headers: {
      0: { sorter: false}
    }
  });
  $("table#request-table").tablesorter({
    sortList: [[0,0]],
    headers: {
      0: { sorter: false}
    }
  });
});
</script>
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb 'Process Dashboard' %}
  </ul>
{% endblock %}

{% block body %}
  <div class="container">

    <table id="process-table" class="table table-hover">
      <thead>
        <tr>
          <th colspan="3" class="center">
            <div style="position:relative">
              <h4>Processes</h4>
            </div>
          </th>
        </tr>
        <tr>
          <th>Process Name</th>
          <th>Process Description</th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <td>
            <a href="{% url 'submit_process_request' 'test' %}">Test Process</a>
          </td>
          <td>
            Some description
          </td>
        </tr>

      </tbody>
    </table>

    <table id="worker-table" class="table table-hover">
      <thead>
        <tr>
          <th colspan="4" class="center">
            <div style="position:relative">
              <h4>Workers <span class="badge badge-inverse align-top">{{ workers|length }}</span></h4>
              {% if user.is_superuser %}
              <div style="position:absolute; right:0;top:0;">
                <a class="btn btn-small" href="{% url 'add_worker' %}">
                  Add Worker
                </a>
              </div>
              {% endif %}
            </div>
          </th>
        </tr>
        <tr>
          <th>Worker Name</th>
          <th>Worker Hostname</th>
        </tr>
      </thead>

      <tbody>

      {% for worker in workers %}
        <tr>
          <td>
            {{ worker.worker_name }}
          </td>
          <td>
            {{ worker.worker_hostname }}
          </td>
        </tr>
      {% endfor %}

      </tbody>
    </table>

    <table id="request-table" class="table table-hover">
      <thead>
        <tr>
          <th colspan="8" class="center">
            <h4>Process Requests <span class="badge badge-inverse align-top">{{ requests.count }}</span></h4>
          </th>
        </tr>
        <tr>
            <th>Process Request ID</th>
            <th>Process Name</th>
            <th>Request Date</th>
            <th>Requesting User</th>
            <th>Status</th>
            <th>Worker</th>
            <th>Completion Date</th>
        </tr>
      </thead>
      <tbody>
        {% for request in requests %}
        <tr>
          <td class="middle">
              <a href="{% url 'view_process_request' request.id %}">
                {{ request.id }}
              </a>
          </td>
          <td class="middle">{{ request.process.process_name }}</td>
          <td class="middle">{{ request.request_date }}</td>
          <td class="middle">{{ request.request_user }}</td>
          <td class="middle">{{ request.status }}</td>
          <td class="middle">{{ request.worker.worker_name|default_if_none:"" }}</td>
          <td class="middle">{{ request.completion_date|default_if_none:"Not Complete" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock %}