{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load repository_filters %}
{% load breadcrumbs %}

{% block toes %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.min.js"></script>
<script src="{% static 'js/angular-cookies.js' %}"></script>
<script src="{% static 'js/angular-file-upload-shim.js' %}"></script>
<script src="{% static 'js/angular-file-upload.js' %}"></script>
<script src="{% static 'js/angular-ui-bootstrap.min.js' %}"></script>
<script src="{% static 'ng-process-request-app/app.js' %}"></script>
<script src="{% static 'ng-process-request-app/controllers/process_request_controller.js' %}"></script>
<script src="{% static 'ng-app/services/reflowService.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb 'New Process Request' %}
  </ul>
{% endblock %}

{% block body %}
{% verbatim %}
  <div class="container" data-ng-app="ProcessRequestApp">

      <div data-ng-view></div>

  </div>
{% endverbatim %}
{% endblock %}