{% extends "base.html" %}
{% load url from future %}
{% block body %}
  <div class="container">
    <div class="row lead">
      <div class="pull-right">Projects <span class="badge badge-inverse align-top">{{ projects|length }}</span></div>
    </div>
    {{ projects.count }}
    {% for p in projects %}
    <div class="row lead">
      <div class="span4"><a href="{% url 'repository.views.view_project' p.id %}">{{ p.project_name }}</a></div>
    </div>
    {% endfor %}
    {% if not projects %}
    <p>You do not belong to any projects. <a href="{% url 'repository.views.add_project'%}">Create a new project</a></p>
    {% endif %}
  </div>
{% endblock %}