<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="50" class="center">{{ sample.original_filename }}</th>
    </tr>
    <tr>
      <th>#</th>
      <th>Function</th>
      <th>FCS PnN Text</th>
      <th>FCS PnS Text</th>
      <th>Antibodies</th>
      <th>Fluorochrome</th>
      <th>Value Type</th>
    </tr>
  </thead>
  <tbody>
    {% for param in sample.site_panel.sitepanelparameter_set.all %}
    <tr>
      <td>{{ param.fcs_number }}</td>
      <td>{{ param.get_parameter_type_display }}</td>
      <td>{{ param.fcs_text }}</td>
      <td>{{ param.fcs_opt_text }}</td>
      <td>
        {% for ab in param.sitepanelparameterantibody_set.all %}
          {{ ab.antibody.antibody_abbreviation }}<br/>
        {% endfor %}
      </td>
      <td>{{ param.fluorochrome.fluorochrome_abbreviation }}</td>
      <td>{{ param.parameter_value_type }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>