{% load url from future %}
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/jquery.js"></script>

<script>
    $(document).ready(function () {
        $('#select_panel_form').submit(function ()
        {
            $('#select_button').attr('disabled', true);
            $.ajax(
            {
                data: $(this).serialize(),
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                success: function (xhr, status, error) {
                    window.location.reload(true);
                },
                error: function(xhr, status, error) {
                    $('#error_message').empty();
                    var obj = JSON.parse(xhr.responseText);

                    $.each(obj, function (i, value)
                    {
                        $('#error_message').append('<p class=\"text-warning\">' + value + '</p>');
                    });

                    $('#select_button').attr('disabled', false);
                }
            });
            return false;
        });
    });
</script>
<div class="lead">{{ panel.panel_name }}</div>
<form id="select_panel_form" class="form-horizontal" action="{% url 'select_panel' sample.id %}" method="post">
    {% csrf_token %}
    <div id="error_message"></div>
    <div class="control-group">
      <label class="control-label">Panel: </label>
      <div class="controls">
        <select name="panel" id="id_panel">
          {% for panel in site_panels %}
          <option value="{{ panel.id }}">{{ panel.panel_name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="add_parameter_button" class="btn btn-small btn-primary" type="submit">Save</button>
        </div>
    </div>
</form>
