{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load breadcrumbs %}
{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url 'Process Dashboard' 'process_dashboard' %}
    {% breadcrumb process %}
    {% breadcrumb "Submit Process Request" %}
  </ul>
{% endblock %}

{% block toes %}

<script>
$(document).ready(function() {
    var updating_element = "&nbsp;<img class='whirligig inline' src='{% static 'whirligig.gif' %}' height='24' width='24'>";

    {#  Hack to add empty '---------' option to required ChoiceField  #}
    $('select[name=project_panel]')
                      .append($('<option></option>')
                      .attr("value", '')
                      .text('---------'));

      $("#toggle-advanced").click(function()
      {
          $('#advanced-params').toggle(250);
      });

    $('select[name=project]').change(function() {
        var project_id = this.value;

        $('select[name!=project]').each(function (i, s) {
          if ($.inArray(s.name, ['specimen', 'storage']) == -1) {
              $(s).find('option:gt(0)').remove();
              $(s).prop("disabled", true);
              $(s).after(updating_element);
          }
        });

        if (project_id < 1) {
            $('select').prop('disabled', false);
            $('img.whirligig').remove();
            return;
        }

        $.ajax( {
            dataType: 'json',
            type: 'GET',
            url: '{% url 'project-panel-list' %}?project=' + project_id,
            success: function(data) {
              $.each(data, function(i, d) {
                  $('select[name=project_panel]')
                      .append($('<option></option>')
                      .attr("value", d.id)
                      .text(d.panel_name));
              });
              $('select[name=project_panel]')
                  .prop("disabled", false)
                  .next('img.whirligig').remove();
            }
        });
        $.ajax( {
            dataType: 'json',
            type: 'GET',
            url: '{% url 'site-list' %}?project=' + project_id,
            success: function(data) {
              $.each(data, function(i, d) {
                  $('select[name=site]')
                      .append($('<option></option>')
                      .attr("value", d.id)
                      .text(d.site_name));
              });
              $('select[name=site]')
                  .prop("disabled", false)
                  .next('img.whirligig').remove();
            }
        });
        $.ajax( {
            dataType: 'json',
            type: 'GET',
            url: '{% url 'subject-list' %}?project=' + project_id,
            success: function(data) {
              $.each(data, function(i, d) {
                  $('select[name=subject]')
                      .append($('<option></option>')
                      .attr("value", d.id)
                      .text(d.subject_code));
              });
              $('select[name=subject]')
                  .prop("disabled", false)
                  .next('img.whirligig').remove();
            }
        });
        $.ajax( {
            dataType: 'json',
            type: 'GET',
            url: '{% url 'visit-type-list' %}?project=' + project_id,
            success: function(data) {
              $.each(data, function(i, d) {
                  $('select[name=visit]')
                      .append($('<option></option>')
                      .attr("value", d.id)
                      .text(d.visit_type_name));
              });
              $('select[name=visit]')
                  .prop("disabled", false)
                  .next('img.whirligig').remove();
            }
        });
        $.ajax( {
            dataType: 'json',
            type: 'GET',
            url: '{% url 'cytometer-list' %}?site__project=' + project_id,
            success: function(data) {
              $.each(data, function(i, d) {
                  $('select[name=cytometer]')
                      .append($('<option></option>')
                      .attr("value", d.id)
                      .text(d.cytometer_name));
              });
              $('select[name=cytometer]')
                  .prop("disabled", false)
                  .next('img.whirligig').remove();
            }
        });
        $.ajax( {
            dataType: 'json',
            type: 'GET',
            url: '{% url 'stimulation-list' %}?project=' + project_id,
            success: function(data) {
              $.each(data, function(i, d) {
                  $('select[name=stimulation]')
                      .append($('<option></option>')
                      .attr("value", d.id)
                      .text(d.stimulation_name));
              });
              $('select[name=stimulation]')
                  .prop("disabled", false)
                  .next('img.whirligig').remove();
            }
        });
        $.ajax( {
            dataType: 'json',
            type: 'GET',
            url: '{% url 'subject-group-list' %}?project=' + project_id,
            success: function(data) {
              $.each(data, function(i, d) {
                  $('select[name=control_group]')
                      .append($('<option></option>')
                      .attr("value", d.id)
                      .text(d.group_name));
              });
              $('select[name=control_group]')
                  .prop("disabled", false)
                  .next('img.whirligig').remove();
            }
        });
        $.ajax( {
            dataType: 'json',
            type: 'GET',
            url: '{% url 'site-panel-list' %}?project_panel__project=' + project_id,
            success: function(data) {
              $.each(data, function(i, d) {
                  $('select[name=site_panel]')
                      .append($('<option></option>')
                      .attr("value", d.id)
                      .text(d.name));
              });
              $('select[name=site_panel]')
                  .prop("disabled", false)
                  .next('img.whirligig').remove();
            }
        });
    });
    $('select[name=site]').change(function() {
        var site_id = this.value;

        if (site_id < 1) {
            return;
        }

        var project_id = $('select[name=project]').val();
        var project_panel_id = $('select[name=project_panel]').val();
        var site_panel_url;

        $('select[name=site_panel]')
            .prop('disabled', true)
            .after(updating_element)
            .find('option:gt(0)').remove();

        $('select[name=cytometer]')
            .prop('disabled', true)
            .after(updating_element)
            .find('option:gt(0)').remove();

        if (project_panel_id != '') {
            site_panel_url =
                '{% url 'site-panel-list' %}?project_panel=' +
                project_panel_id +
                '&site=' +
                site_id;
        } else {
            site_panel_url = '{% url 'site-panel-list' %}?site=' + site_id;
        }
        $.ajax( {
            dataType: 'json',
            type: 'GET',
            url: site_panel_url,
            success: function(data) {
              $.each(data, function(i, d) {
                  $('select[name=site_panel]')
                      .append($('<option></option>')
                      .attr("value", d.id)
                      .text(d.name));
              });
              $('select[name=site_panel]')
                  .prop("disabled", false)
                  .next('img.whirligig').remove();
            }
        });

        $.ajax( {
            dataType: 'json',
            type: 'GET',
            url: '{% url 'cytometer-list' %}?site__project=' + project_id + '&site=' + site_id,
            success: function(data) {
              $.each(data, function(i, d) {
                  $('select[name=cytometer]')
                      .append($('<option></option>')
                      .attr("value", d.id)
                      .text(d.cytometer_name));
              });
              $('select[name=cytometer]')
                  .prop("disabled", false)
                  .next('img.whirligig').remove();
            }
        });
    });

    return false;
});

</script>
{% endblock %}

{% block body %}
  <div class="container">
    <form class="form-horizontal" action="{% url 'submit_process_request' process %}" method="post">
      {% csrf_token %}

      {{ form.non_field_errors }}

      {#   Do required fields manually so we can show/hide the optional ones   #}
      <div class="control-group">
        <label class="control-label">{{ form.project.label }}</label>
        <div class="controls">
          {{ form.project }}
          {% if form.project.errors %}
            <span class="help-inline">{{ form.project.errors|striptags }}</span>
          {% endif %}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">{{ form.project_panel.label }}</label>
        <div class="controls">
          {{ form.project_panel }}
          {% if form.project_panel.errors %}
            <span class="help-inline">{{ form.project_panel.errors|striptags }}</span>
          {% endif %}
        </div>
      </div>

      <a href="#" id="toggle-advanced">Show/Hide Advanced Options</a>

      <div id="advanced-params" style="display: none">
        {% for field in form %}
        {% if field.name not in required_base_fields %}
        <div class="control-group">
          <label class="control-label">{{ field.label }}</label>
          <div class="controls">
            {{ field }}
            {% if field.errors %}
              <span class="help-inline">{{ field.label }}: {{ field.errors|striptags }}</span>
            {% endif %}
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>

      <div class="control-group">
        <div class="controls">
          <button class="btn btn-small btn-success" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}