{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'jquery-ui-1.9.2.custom/css/overcast/jquery-ui-1.9.2.custom.css' %}" />
{% endblock %}

{% block toes %}
<script src="{% static 'jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js' %}"></script>

<script>
$(document).ready(function()
{
    $(".show-all").click(function()
    {
        $('.params').show(250);
        return false;
    });

    $(".hide-all").click(function()
    {
        $('.params').hide(250);
        return false;
    });

    $(".toggle-closest").click(function()
    {
        $(this).siblings('div.params').toggle(250);
        return false;
    });

    return false;
});

</script>
{% endblock %}

{% block body %}
<div class="container">
  <div class="row lead">
    <div class="pull-right">
      Antibodies <span class="badge badge-inverse align-top">{{ antibodies|length }}</span>
    </div>
  </div>

  {% if antibodies %}
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
          <th>Antibody ID</th>
          <th>Abbreviation</th>
          <th>Name</th>
          <th>Description</th>
          <th>
              Parameters Built From Antibody
              <span class="pull-right">
                <a href="#" class="show-all">Show All</a> | <a href="#" class="hide-all">Hide All</a>
              </span>
          </th>
      </tr>
    </thead>
    <tbody>
      {% for antibody in antibodies %}
      <tr>
        <td class="middle">
          {{ antibody.id }}
          {% if user.is_superuser %}
          <a class="pull-right" rel="tooltip" href="{% url 'edit_antibody' antibody.id %}" data-original-title="Edit Antibody" data-placement="bottom">
            <i style="opacity: 0.4" class="icon-th-list align-middle"></i>
          </a>
          {% endif %}
        </td>
        <td class="middle">{{ antibody.antibody_short_name }}</td>
        <td class="middle">{{ antibody.antibody_name }}</td>
        <td class="middle">{{ antibody.antibody_description|default_if_none:'' }}</td>

        <td style="width: 40%" class="middle">

          {% if antibody.parameters.count > 0 %}

          <a href="#" class="pull-right toggle-closest">Show/Hide</a>
          <div class="hide params">
              {% for parameter in antibody.parameters|dictsort:"parameter__parameter_short_name" %}
                {{ parameter.parameter__parameter_short_name }}<br/>
              {% endfor %}
          </div>

          {% endif %}

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No antibodies have been entered in this web site.</p>
  {% endif %}
  {% if user.is_superuser %}
  <div class="pull-right">
    <a class="btn btn-success btn-small" href="{% url 'add_antibody' %}">
      <i class="icon-plus icon-white"></i> Add Antibody
    </a>
  </div>
  {% endif %}
</div>
{% endblock %}