{% extends "base.html" %}
{% load url from future %}
{% block body %}
  <div class="container">
    <div class="row lead">
      <div class="span4">
        <a href="{% url 'view_project' project.id %}">
          {{ project.project_name }}
        </a>
        {% if can_modify_project_data %}
        <a rel="tooltip" href="{% url 'edit_project' project.id %}" data-original-title="Edit Project" data-placement="right">
          <i style="opacity: 0.4; margin-left: 10px" class="icon-th-list align-middle"></i>
        </a>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="span6">Project Description: {{ project.project_desc|default_if_none:'' }}</div>
    </div>
    <br/>
    <table class="table table-bordered table-striped">
      <tbody>
        <tr>
          <td class="center">
            <span class="lead"><a href="{% url 'project_visit_types' project.id %}">Visit Types</a></span>
            {% if can_add_project_data %}
            <div class="pull-right">
              <a class="btn btn-success btn-small" href="{% url 'add_visit_type' project.id %}">
                <i class="icon-plus icon-white"></i>
              </a>
            </div>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td class="center">
            <span class="lead"><a href="{% url 'project_panels' project.id %}">Panels</a></span>
            {% if can_add_project_data %}
            <div class="pull-right">
              <a class="btn btn-success btn-small" href="{% url 'add_panel' project.id %}">
                <i class="icon-plus icon-white"></i>
              </a>
            </div>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td class="center">
            <span class="lead"><a href="{% url 'project_sites' project.id %}">Sites</a></span>
            {% if can_add_project_data %}
            <div class="pull-right">
              <a class="btn btn-success btn-small" href="{% url 'add_site' project.id %}">
                <i class="icon-plus icon-white"></i>
              </a>
            </div>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td class="center">
            <span class="lead"><a href="{% url 'project_subjects' project.id %}">Subjects</a></span>
            {% if can_add_project_data %}
            <div class="pull-right">
              <a class="btn btn-success btn-small" href="{% url 'add_subject' project.id %}">
                <i class="icon-plus icon-white"></i>
              </a>
            </div>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td class="center">
            <span class="lead"><a href="{% url 'project_samples' project.id %}">Samples</a></span>
            {% if can_add_project_data %}
            <div class="pull-right">
              <a class="btn btn-success btn-small" href="{% url 'add_sample' project.id %}">
                <i class="icon-plus icon-white"></i>
              </a>
            </div>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td class="center">
            <span class="lead"><a href="{% url 'project_compensations' project.id %}">Compensation Matrices</a></span>
            {% if can_add_project_data %}
            <div class="pull-right">
              <a class="btn btn-success btn-small" href="{% url 'add_compensation' project.id %}">
                <i class="icon-plus icon-white"></i>
              </a>
            </div>
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}