{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load breadcrumbs %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'jquery-ui-1.9.2.custom/css/overcast/jquery-ui-1.9.2.custom.css' %}" />
{% endblock %}

{% block toes %}
<script src="{% static 'jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js' %}"></script>
<script src="{% static 'jquery-ui-1.9.2.custom/js/jquery.tablesorter.min.js' %}"></script>

<script>
$(function() {
  $("table#data-table").tablesorter({
    headers: {
      0: { sorter: false},
      2: { sorter: false}
    }
  });
});
</script>

<script>
$(document).ready(function()
{
    $(".show-all").click(function()
    {
        $('.params').show(250);
        return false;
    });

    $(".hide-all").click(function()
    {
        $('.params').hide(250);
        return false;
    });

    $(".toggle-closest").click(function()
    {
        $(this).siblings('div.params').toggle(250);
        return false;
    });

    return false;
});

</script>
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url site.project.project_name 'view_project' site.project.id %}
    {% breadcrumb_url 'Sites' 'view_project_sites' site.project.id %}
    {% breadcrumb_url site.site_name 'view_site' site.id %}
    {% breadcrumb 'Site Panels' %}
  </ul>
{% endblock %}

{% block body %}

  <div class="container">
    <table id="data-table" class="table table-hover">
      <thead>
        <tr>
          <th colspan="3" class="center">
            <div style="position:relative">
              <h4>Site Panels <span class="badge badge-inverse align-top">{{ panels|length }}</span></h4>

              {% if can_add_site_data %}
              <div style="position:absolute; right:0;top:0;">
                <a class="btn btn-small" href="{% url 'add_site_panel' site.id %}">
                  Add Site Panel
                </a>
              </div>
              {% endif %}
            </div>
          </th>
        </tr>
        <tr>
          <th>Project Panel</th>
          <th>
            Parameters
            <span class="pull-right">
              <a href="#" class="show-all">Show All</a> | <a href="#" class="hide-all">Hide All</a>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for panel in panels %}
        <tr>
          <td>
            <div style="position: relative">
              Name: {{ panel.project_panel.panel_name }}<br/>
              {% if panel.project_panel.parent_panel %}
              Parent Panel: {{ panel.project_panel.parent_panel.panel_name }}<br/>
              {% endif %}
              Staining: {{ panel.project_panel.staining.staining_name }}<br/>
              Stimulation: {{ panel.project_panel.stimulation.stimulation_name }}<br/>
              <span style="position: absolute;right:0;top:0;">
                {% if panel.panel_comments != '' and panel.panel_description != None  %}
                <a rel="tooltip" href="#" data-original-title="{{ panel.panel_comments }}" data-placement="bottom">
                  <i style="opacity: 0.4" class="icon-info-sign align-middle"></i>
                </a>
                {% endif %}
                {% if can_modify_site_data %}
                <a rel="tooltip" href="{% url 'edit_site_panel' panel.id %}" data-original-title="Edit" data-placement="left">
                  <i style="opacity: 0.4" class="icon-pencil align-middle"></i>
                </a>
                {% endif %}
              </span>
            </div>
          </td>
          <td width="75%">
            <a href="#" class="toggle-closest">Show/Hide</a>
            <div class="hide params">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Type</th>
                    <th>Value Type</th>
                    <th>FCS Number</th>
                    <th>FCS Text <a rel="tooltip" class="pull-right label label-inverse" data-original-title="Exact text from the FCS $PnN field" data-placement="left">?</a></th>
                    <th>FCS Optional Text <a rel="tooltip" class="pull-right label label-inverse" data-original-title="Exact text from the FCS $PnS field" data-placement="left">?</a></th>
                    <th>Fluorochrome</th>
                    <th>Antibodies</th>
                  </tr>
                </thead>
                <tbody>
                  {% for spp in panel.sitepanelparameter_set.all|dictsort:"fcs_number" %}
                  <tr>
                    <td width="33%">
                      {{ spp.get_parameter_type_display }}
                    </td>
                    <td>
                      {{ spp.parameter_value_type }}
                    </td>
                    <td>
                      {{ spp.fcs_number }}
                    </td>
                    <td>
                      {{ spp.fcs_text }}
                    </td>
                    <td>
                      {{ spp.fcs_opt_text }}
                    </td>
                    <td>
                      {{ spp.fluorochrome.fluorochrome_abbreviation }}
                    </td>
                    <td>
                      {% for ab in spp.sitepanelparameterantibody_set.all %}
                        {{ ab.antibody.antibody_abbreviation }}<br/>
                      {% endfor %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}