{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load breadcrumbs %}

{% block toes %}
<script src="{% static 'jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js' %}"></script>
<script src="{% static 'jquery-ui-1.9.2.custom/js/jquery.tablesorter.min.js' %}"></script>

<script>
$(function() {
  $("table#data-table").tablesorter({
    sortList: [[0,0]],
    headers: {
      0: { sorter: false},
    }
  });
});
</script>
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url project.project_name 'view_project' project.id %}
    {% breadcrumb 'Subjects' %}
  </ul>
{% endblock %}

{% block body %}
<div class="container">

  <table id="data-table" class="table table-hover">
    <thead>
      <tr>
        <th colspan="10" class="center">
          <div style="position:relative">
            <h4>Subjects <span class="badge badge-inverse align-top">{{ subjects|length }}</span></h4>

              {% if can_add_project_data %}
              <div style="position:absolute; right:0;top:0;">
                <a class="btn btn btn-small" href="{% url 'add_subject' project.id %}">
                  Add Subject
                </a>
              </div>
              {% endif %}
          </div>
        </th>
      </tr>
      <tr>
        <th>Subject Code</th>
        <th>Subject Group</th>
        <th>FCS Sample Count</th>
      </tr>
    </thead>
    <tbody>
      {% for s in subjects %}
      <tr>
        <td>
          <div>
            {{ s.subject_code }}
            {% if can_modify_project_data %}
            <span class="pull-right">
              <a rel="tooltip" href="{% url 'edit_subject' s.id %}" data-original-title="Edit" data-placement="left">
                <i style="opacity: 0.4" class="icon-pencil align-middle"></i>
              </a>
            </span>
            {% endif %}
          </div>
        </td>
        <td>
          {{ s.subject_group.group_name|default_if_none:'' }}
        </td>
        <td>
            {{ s.sample_set.count }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}