{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load breadcrumbs %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'jquery-ui-1.9.2.custom/css/overcast/jquery-ui-1.9.2.custom.css' %}" />
{% endblock %}

{% block toes %}
<script src="{% static 'jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js' %}"></script>
<script src="{% static 'jquery-ui-1.9.2.custom/js/jquery.tablesorter.min.js' %}"></script>

<script>
$(function() {
  $("table#data-table").tablesorter({
    sortList: [[2,0]],
    headers: {
      0: { sorter: false},
      1: { sorter: false},
      4: { sorter: false},
    }
  });
});
</script>

{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url project.project_name 'view_project' project.id %}
    {% breadcrumb 'Compensation Matrices' %}
  </ul>
{% endblock %}

{% block body %}
<div class="container">

  <table id="data-table" class="table table-hover">
    <thead>
      <tr>
        <th colspan="50" class="center">
          <div style="position:relative">
            <h4>Compensation Matrices <span class="badge badge-inverse align-top">{{ compensations|length }}</span></h4>

            {% if can_add_project_data or user_add_sites.count > 0 %}
            <div style="position:absolute; right:0;top:0;">
              <a class="btn btn-small" href="{% url 'add_compensation' project.id %}">
                Add Compensation
              </a>
            </div>
            {% endif %}
          </div>
        </th>
      </tr>
      <tr>
        <th></th>
        <th>File Name</th>
        <th>Site</th>
        <th>Samples</th>
      </tr>
    </thead>
    <tbody>
      {% for comp in compensations %}
      <tr>
        <td width="1%" class="middle">
          <a class="btn btn-mini" rel="tooltip" href="{% url 'retrieve_compensation' comp.id %}" data-original-title="Download FCS File" data-placement="bottom">
            <i style="opacity: 0.4" class="icon-download-alt align-middle"></i>
          </a>
        </td>
        <td class="middle">{{ comp.original_filename }}</td>
        <td class="middle">{{ comp.site.site_name }}</td>
        <td class="middle">
          {% for sample in comp.sample_set.all %}
            {{ sample.original_filename }}<br/>
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}