{% extends "base.html" %}
{% load url from future %}
{% load repository_filters %}
{% block body %}
  <div class="container">
    <div class="row lead">
      <div class="span4">
        Home
      </div>
      <div class="pull-right">Projects <span class="badge badge-inverse align-top">{{ projects|length }}</span></div>
    </div>
    {{ projects.count }}

    {% if projects %}
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Project Permissions</th>
          <th>Site Permissions</th>
        </tr>
      </thead>

      <tbody>

      {% for project in projects %}
        <tr>
          <td>
            <a href="{% url 'view_project' project.id %}">{{ project.project_name }}</a>
          </td>
          <td>
          {%  for user_perm in project|get_user_project_permissions:user %}
            {{ user_perm.permission.name }}<br/>
          {% endfor %}
          </td>
          <td>
          {% for site in project.site_set.all %}
            {%  for user_perm in site|get_user_site_permissions:user %}
              {{ site.site_name }}: {{ user_perm.permission.name }}<br/>
            {% endfor %}
          {% endfor %}
          </td>
        </tr>
      {% endfor %}

      </tbody>
    </table>

    {% else %}
    <p>You do not belong to any projects. <a href="{% url 'add_project' %}">Create a new project</a></p>
    {% endif %}
  </div>
{% endblock %}