{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'jquery-ui-1.9.2.custom/css/overcast/jquery-ui-1.9.2.custom.css' %}" />
{% endblock %}

{% block toes %}
<script src="{% static 'jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js' %}"></script>

<script>
$(document).ready(function()
{
    var select_panel_dialog = $("<div></div>").dialog(
    {
        autoOpen: false,
        title: 'Select a Panel',
        modal: false,
        position: 'center',
        height: 350,
        width: 500
    });

    $(".select_panel").click(function()
    {
        select_panel_dialog.dialog({ close: function() { $(this).empty(); } });
        select_panel_dialog.load($(this).data("form-url"));
        select_panel_dialog.dialog('open');
        return false;
    });

    $(".show-all").click(function()
    {
        $('.params').show(250);
        return false;
    });

    $(".hide-all").click(function()
    {
        $('.params').hide(250);
        return false;
    });

    $(".toggle-closest").click(function()
    {
        $(this).siblings('table.params').toggle(250);
        return false;
    });

    return false;
});

</script>
{% endblock %}

{% block body %}
<div class="container">
  <div class="row lead">
    <div class="span4">
      <a href="{% url 'view_project' project.id %}">
        {{ project.project_name }}
      </a>
    </div>
    <div class="pull-right">
      Site: {{ site.site_name }}
      {% if can_modify_project_data %}
      <a rel="tooltip" href="{% url 'edit_site' site.project_id site.id %}" data-original-title="Edit Site" data-placement="bottom">
        <i style="opacity: 0.4" class="icon-th-list align-middle"></i>
      </a>
      {% endif %}
    </div>
  </div>

  {% if samples %}
  <form>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th colspan="8" class="center">
          <h4>Non-categorized Flow Cytometry Samples <span class="badge badge-inverse align-top">{{ samples.count }}</span></h4>
          <a href="{% url 'view_site' site.id %}">Show All Samples</a>
        </th>
      </tr>
      <tr>
          <th></th>
          <th>Sample ID</th>
          <th>File Name</th>
          <th>Subject</th>
          <th>Visit</th>
          <th>Sample Group</th>
          <th>Specimen</th>
          <th>
              Parameters
              <span class="pull-right">
                <a href="#" class="show-all">Show All</a> | <a href="#" class="hide-all">Hide All</a>
              </span>
          </th>
      </tr>
    </thead>
    <tbody>
      {% for sample in samples %}
      <tr>
        <td>
          <input type="checkbox" name="select_sample" value="{{ sample.id }}">
        </td>
        <td class="middle">
          {{ sample.id }}
          {% if sample.site__id in user_modify_sites or can_modify_project_data %}
          <a class="pull-right" rel="tooltip" href="{% url 'edit_sample' sample.id %}" data-original-title="Edit Sample" data-placement="bottom">
            <i style="opacity: 0.4" class="icon-th-list align-middle"></i>
          </a>
          {% endif %}
        </td>
        <td class="middle">
          <a href="{% url 'retrieve_sample' sample.id %}">{{ sample.original_filename }}</a><br/>
        </td>
        <td class="middle">{{ sample.subject__subject_id }}</td>
        <td class="middle">{{ sample.visit__visit_type_name|default_if_none:'' }}</td>
        <td class="middle">{{ sample.sample_group__group_name|default_if_none:'' }}</td>
        <td class="middle">{{ sample.specimen__specimen_name|default_if_none:'' }}</td>

        <td style="width: 60%" class="middle">

          {% if sample.parameters.count > 0 %}

          <a href="#" class="toggle-closest">Show/Hide</a>
          <table class="table table-bordered table-hover hide params">
            <thead>
              <tr>
                <th>FCS Number</th>
                <th>FCS PnN</th>
                <th>FCS PnS</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              {% for sp_map in sample.parameters|dictsort:"fcs_number" %}
              <tr>
                <td>
                  {{ sp_map.fcs_number }}
                </td>
                <td>
                  {{ sp_map.fcs_text }}
                </td>
                <td>
                  {{ sp_map.fcs_opt_text }}
                </td>
                <td>
                  {{ sp_map.parameter__parameter_short_name|default_if_none:'' }}-{{ sp_map.value_type__value_type_short_name|default_if_none:'' }}
                </td>
              </tr>
              {% endfor %}
              {% if sample.site__id in user_add_sites or can_add_project_data %}
              <tr>
                <td colspan="4">
                  Select a panel to associate parameters or create a new panel based on this FCS file.<br/>
                  <a class="select_panel btn btn-success btn-small" href="#" data-form-url="{% url 'select_panel' sample.id %}">
                    <i class="icon-plus icon-white"></i> Select Panel
                  </a>
                  <a class="btn btn-success btn-small" href="{% url 'create_panel_from_sample' sample.id %}">
                      <i class="icon-pencil icon-white"></i> Create Panel from Sample
                  </a>
                </td>
              </tr>
              {% endif %}
            </tbody>
          </table>

          {% endif %}

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>Fantastic! Looks like all samples have been categorized for this site.</p>
  {% endif %}
  {% if can_add_project_data or user_add_sites.count > 0 %}
  <div class="pull-right">
    <a class="btn btn-success btn-small" href="{% url 'add_site_sample' site.id %}">
      <i class="icon-plus icon-white"></i> Add Sample
    </a>
  </div>
  </form>
  {% endif %}
</div>
{% endblock %}