{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load breadcrumbs %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url project.project_name 'view_project' project.id %}
    {% breadcrumb_url "Sites" 'view_project_sites' project.id %}
    {% breadcrumb site.site_name %}
  </ul>
{% endblock %}

{% block body %}
<div class="container">
  <table class="key-value">
    <tr>
      <td>Site Name:</td>
      <td class="align-left">
        {{ site.site_name }}
      </td>
    </tr>
    {% if can_modify_project_data %}
    <tr>
      <td colspan="2">
        <a href="{% url 'edit_site' site.id %}">Edit Site</a>
      </td>
    </tr>
    {% endif %}
    <tr>
      <td colspan="2">
        <a href="{% url 'view_site_panels' site.id %}">View Site Panels</a>
      </td>
    </tr>
  </table>

</div>
{% endblock %}