{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load breadcrumbs %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url project.project_name 'view_project' project.id %}
    {% breadcrumb_url "Sites" 'view_project_sites' project.id %}
    {% breadcrumb site.site_name %}
  </ul>
{% endblock %}

{% block body %}
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="center" colspan="10">
          <div style="position:relative">
            <h4>Site: {{ site.site_name }}</h4>

            {% if can_modify_project_data %}
            <div style="position:absolute; right:0;top:0;">
              <a class="btn btn-small" href="{% url 'edit_site' site.id %}">Edit Site</a>
            </div>
            {% endif %}

          </div>
        </th>
      </tr>
    </thead>
  </table>
  <div class="well">
    <p><a href="{% url 'view_site_panels' site.id %}">View Site Panels</a></p>
  </div>
</div>
{% endblock %}