{% extends "base.html" %}
{% load url from future %}
{% load breadcrumbs %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url project.project_name 'view_project' project.id %}
    {% breadcrumb 'Subjects' %}
  </ul>
{% endblock %}

{% block body %}
<div class="container">

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th colspan="3" class="center">
          <h4>Subjects <span class="badge badge-inverse align-top">{{ subjects|length }}</span></h4>
        </th>
      </tr>
      <tr>
        <th>Subject ID</th>
        <th>Subject Group</th>
        <th>FCS Sample Count</th>
      </tr>
    </thead>
    <tbody>
      {% for s in subjects %}
      <tr>
        <td>
          <div>
            {{ s.subject_id }}
            {% if can_modify_project_data %}
            <span class="pull-right">
              <a rel="tooltip" href="{% url 'edit_subject' s.id %}" data-original-title="Edit Subject" data-placement="left">
                <i style="opacity: 0.4" class="icon-th-list align-middle"></i>
              </a>
            </span>
            {% endif %}
          </div>
        </td>
        <td>
          {{ s.subject_group.group_name|default_if_none:'' }}
        </td>
        <td>
            {{ s.sample_set.count }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if can_add_project_data %}
  <div class="pull-right">
    <a class="btn btn-success btn-small" href="{% url 'add_subject' project.id %}">
      <i class="icon-plus icon-white"></i> Add Subject
    </a>
  </div>
  {% endif %}
</div>
{% endblock %}