{% extends "base.html" %}
{% load url from future %}

{% block body %}
<div class="container">
  <div class="row lead">
    <div class="pull-right">
      Parameters <span class="badge badge-inverse align-top">{{ parameters|length }}</span>
    </div>
  </div>

  {% if parameters %}
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Parameter ID</th>
        <th>Abbreviation</th>
        <th>Antibodies</th>
        <th>Fluorochromes</th>
      </tr>
    </thead>
    <tbody>
      {% for parameter in parameters %}
      <tr>
        <td class="middle">
          {{ parameter.id }}
          {% if user.is_superuser %}
          <div class="pull-right align-middle">
            <a rel="tooltip" href="{% url 'edit_parameter' parameter.id %}" data-original-title="Edit Parameter" data-placement="bottom">
              <i style="opacity: 0.4" class="icon-th-list align-middle"></i>
            </a>
          </div>
          {% endif %}
        </td>
        <td class="middle">{{ parameter.parameter_short_name }}</td>
        <td class="middle">
          <div>
          {% if parameter.parameterantibodymap_set.all.count > 0 %}

              {% for pa_map in parameter.parameterantibodymap_set.all %}
                {{ pa_map.antibody.antibody_short_name }}<br/>
              {% endfor %}

          {% endif %}
          </div>

          {% if user.is_superuser %}
            <div class="pull-right">
              <a href="{% url 'associate_antibody_to_parameter' parameter.id %}">
                <i style="opacity: 0.4" class="icon-plus"></i>
              </a>
            </div>
          {% endif %}

        </td>
        <td class="middle">

          {% if parameter.parameterfluorochromemap_set.all.count > 0 %}

          <div>
              {% for pf_map in parameter.parameterfluorochromemap_set.all %}
                {{ pf_map.fluorochrome.fluorochrome_short_name }}<br/>
              {% endfor %}
          </div>

          {% endif %}

          {% if user.is_superuser %}
            <div class="pull-right">
              <a href="{% url 'associate_fluorochrome_to_parameter' parameter.id %}">
                <i style="opacity: 0.4" class="icon-plus"></i>
              </a>
            </div>
          {% endif %}

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No parameters have been entered in this web site.</p>
  {% endif %}
  {% if user.is_superuser %}
  <div class="pull-right">
    <a class="btn btn-success btn-small" href="{% url 'add_parameter' %}">
      <i class="icon-plus icon-white"></i> Add Parameter
    </a>
  </div>
  {% endif %}
</div>
{% endblock %}