{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load breadcrumbs %}

{% block toes %}
<script src="{% static 'js/jquery-ui-1.9.2.custom.js' %}"></script>
<script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>

<script>
$(function() {
  $("table#data-table").tablesorter({
    sortList: [[1,0]],
    headers: {
      0: { sorter: false},
      1: { sorter: false}
    }
  });
});
</script>
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url project.project_name 'view_project' project.id %}
    {% breadcrumb 'Sites' %}
  </ul>
{% endblock %}

{% block body %}
<div class="container">
  <table id="data-table" class="table table-hover">
    <thead>
      <tr>
        <th colspan="50" class="center">
          <div style="position:relative">
            <h4>Sites <span class="badge badge-inverse align-top">{{ sites|length }}</span></h4>

            {% if can_add_project_data %}
            <div style="position:absolute; right:0;top:0;">
              <a class="btn btn-default btn-sm" href="{% url 'add_site' project.id %}">
                Add Site
              </a>
            </div>
            {% endif %}
          </div>
        </th>
      </tr>
      <tr>
        <th></th>
        <th>Site</th>
        <th>FCS Sample Count</th>
        <th>Cytometers</th>
        <th>Site Panels</th>
      </tr>
    </thead>
    <tbody>
    {% for site in sites %}
      <tr>
        <td width="1%" class="middle">
          {% if can_modify_project_data %}
            <a class="btn btn-default btn-xs" rel="tooltip" href="{% url 'edit_site' site.id %}" data-original-title="Edit" data-placement="bottom">
              <i style="opacity: 0.4" class="glyphicon glyphicon-pencil align-middle"></i>
            </a>
          {% endif %}
        </td>
        <td class="middle">{{ site.site_name }}</td>
        <td class="middle">{{ site.get_sample_count }}</td>
        <td>
          {% for cytometer in site.cytometer_set.all %}
            {{ cytometer.cytometer_name }}<br/>
          {% endfor %}
        </td>
        <td>
          {% for cyto in site.cytometer_set.all %}
          {% for panel in cyto.sitepanel_set.all %}
            {{ panel.project_panel.panel_name }} ({{ panel.implementation }})<br/>
          {% endfor %}
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}