{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load breadcrumbs %}

{% block toes %}
<script src="{% static 'jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js' %}"></script>
<script src="{% static 'jquery-ui-1.9.2.custom/js/jquery.tablesorter.min.js' %}"></script>

<script>
$(function() {
  $("table#data-table").tablesorter({
    sortList: [[0,0]],
    headers: {
      0: { sorter: false},
      3: {sorter:false},

      {% if user.is_superuser %}
      1: {sorter: false},
      {% else %}
      2: {sorter: false},
      {% endif %}
    }
  });
});
</script>
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% if user.is_superuser %}
    {% breadcrumb_url 'Admin' 'admin' %}
    {% endif %}
    {% breadcrumb 'Stains' %}
  </ul>
{% endblock %}

{% block body %}
  <div class="container">
    <table id="data-table" class="table table-hover">
      <thead>
        <tr>
          <th colspan="10" class="center">
            <div style="position:relative">
              <h4>Stains <span class="badge badge-inverse align-top">{{ stains|length }}</span></h4>

              <div style="position:absolute; right:0;top:0;">
              {% if user.is_superuser %}
                <a class="btn btn btn-small" href="{% url 'add_stain' %}">Add Stain</a>
              {% endif %}
            </div>
            </div>
          </th>
        </tr>
        <tr>
          {% if user.is_superuser %}
          <th></th>
          {% endif %}
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
      {% for stain in stains %}
        <tr>
          {% if user.is_superuser %}
          <td>
            <a rel="tooltip" href="{% url 'edit_stain' stain.id %}" data-original-title="Edit" data-placement="left">
              <i style="opacity: 0.4" class="icon-pencil align-middle"></i>
            </a>
          </td>
          {% endif %}
          <td>
            {{ stain.staining_name }}
          </td>
          <td>{{ stain.staining_description }} </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}