{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'jquery-ui-1.9.2.custom/css/overcast/jquery-ui-1.9.2.custom.css' %}" />
{% endblock %}

{% block toes %}
<script src="{% static 'jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js' %}"></script>
<script src="{% static 'jquery-ui-1.9.2.custom/js/jquery.tablesorter.min.js' %}"></script>

<script>
$(function() {
  $("table#data-table").tablesorter({
    sortList: [[0,0]],
    headers: {
      0: { sorter: false},
      4: {sorter:false},

      {% if user.is_superuser %}
      1: {sorter: false},
      5: {sorter: false},
      {% else %}
      3: {sorter: false},
      {% endif %}
    }
  });
});
</script>
{% endblock %}

{% load breadcrumbs %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% if user.is_superuser %}
    {% breadcrumb_url 'Admin' 'admin' %}
    {% endif %}
    {% breadcrumb 'Fluorochromes' %}
  </ul>
{% endblock %}

{% block body %}
<div class="container">

  <table id="data-table" class="table table-hover">
    <thead>
      <tr>
        <th colspan="5" class="center">
          <div style="position:relative">
            <h4>Fluorochromes <span class="badge badge-inverse align-top">{{ fluorochromes|length }}</span></h4>

            <div style="position:absolute; right:0;top:0;">
              {% if user.is_superuser %}
                <a class="btn btn btn-small" href="{% url 'add_fluorochrome' %}">Add Fluorochrome</a>
              {% endif %}
            </div>

          </div>
        </th>
      </tr>
      <tr>
        {% if user.is_superuser %}
        <th></th>
        {% endif %}
        <th>Abbreviation</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for fluorochrome in fluorochromes|dictsort:"fluorochrome_short_name" %}
      <tr>
        {% if user.is_superuser %}
        <td class="middle">
          <a rel="tooltip" href="{% url 'edit_fluorochrome' fluorochrome.id %}" data-original-title="Edit" data-placement="bottom">
            <i style="opacity: 0.4" class="icon-pencil align-middle"></i>
          </a>
        </td>
        {% endif %}
        <td class="middle">{{ fluorochrome.fluorochrome_short_name }}</td>
        <td class="middle">{{ fluorochrome.fluorochrome_name }}</td>
        <td class="middle">{{ fluorochrome.fluorochrome_description|default_if_none:'' }}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}