{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load breadcrumbs %}

{% block toes %}
<script src="{% static 'jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js' %}"></script>
<script src="{% static 'jquery-ui-1.9.2.custom/js/jquery.tablesorter.min.js' %}"></script>

<script>
$(function() {
  $("table#data-table").tablesorter({
    sortList: [[0,0]],
    headers: {
      0: { sorter: false},
      2: { sorter: false}
    }
  });
});
</script>
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url project.project_name 'view_project' project.id %}
    {% breadcrumb 'Sample Sets' %}
  </ul>
{% endblock %}

{% block body %}
<div class="container">

  <table id="data-table" class="table table-hover">
    <thead>
      <tr>
        <th colspan="4" class="center">
          <div style="position:relative">
            <h4>Sample Sets <span class="badge badge-inverse align-top">{{ sample_sets|length }}</span></h4>

            {% if can_add_project_data %}
            <div style="position:absolute; right:0;top:0;">
              <a class="btn btn-small" href="{% url 'add_sample_set' project.id %}">
                Create Set
              </a>
            </div>
            {% endif %}
          </div>
        </th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Sample Count</th>
      </tr>
    </thead>
    <tbody>
      {% for set in sample_sets %}
      <tr>
        <td class="middle"><a href="#">{{ set.name }}</a></td>
        <td class="middle">{{ set.description }}</td>
        <td class="middle">{{ set.samples.all.count }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}