{% extends "base.html" %}
{% load url from future %}
{% load breadcrumbs %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url project.project_name 'view_project' project.id %}
    {% breadcrumb 'Subject Groups' %}
  </ul>
{% endblock %}

{% block body %}
  <div class="container">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th colspan="2" class="center">
            <h4>Subject Groups <span class="badge badge-inverse align-top">{{ subject_groups|length }}</span></h4>
          </th>
        </tr>
        <tr>
          <th>Group Name</th>
          <th>Group Description</th>
        </tr>
      </thead>
      <tbody>
      {% for group in subject_groups %}
        <tr>
          <td>
            {{ group.group_name }}
            {% if can_modify_project_data %}
            <span class="pull-right">
              <a rel="tooltip" href="{% url 'edit_subject_group' group.project_id group.id %}" data-original-title="Edit Subject Group" data-placement="left">
                <i style="opacity: 0.4" class="icon-th-list align-middle"></i>
              </a>
            </span>
            {% endif %}
          </td>
          <td>{{ group.group_description }} </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% if can_add_project_data %}
    <div class="pull-right">
        <a class="btn btn-success btn-small" href="{% url 'add_subject_group' project.id %}">
            <i class="icon-plus icon-white"></i> Add Subject Group
        </a>
    </div>
    {% endif %}
  </div>
{% endblock %}