{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load breadcrumbs %}

{% block toes %}
<script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>

<script>
$(function() {
  $("table#data-table").tablesorter({
    sortList: [[1,0]],
    headers: {
      0: { sorter: false},
      1: {sorter:false}
    }
  });
});

</script>

{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% if user.is_superuser %}
    {% breadcrumb_url 'Admin' 'admin' %}
    {% endif %}
    {% breadcrumb 'Specimens' %}
  </ul>
{% endblock %}

{% block body %}
<div class="container">

  <table id="data-table" class="table table-hover">
    <thead>
      <tr>
        <th colspan="50" class="center">
          <div style="position:relative">
            <h4>Specimens <span class="badge badge-inverse align-top">{{ specimens|length }}</span></h4>

            <div style="position:absolute; right:0;top:0;">
              {% if user.is_superuser %}
                <a class="btn btn btn-small" href="{% url 'add_specimen' %}">Add Specimen</a>
              {% endif %}
            </div>
          </div>
        </th>
      </tr>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for specimen in specimens|dictsort:"specimen_name" %}
      <tr>
        <td width="1%" class="middle">
        {% if user.is_superuser %}
          <a class="btn btn-mini" rel="tooltip" href="{% url 'edit_specimen' specimen.id %}" data-original-title="Edit" data-placement="bottom">
            <i style="opacity: 0.4" class="icon-pencil align-middle"></i>
          </a>
        {% endif %}
        </td>
        <td class="middle">{{ specimen.specimen_name }}</td>
        <td class="middle">{{ specimen.specimen_description|default_if_none:'' }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}