{% extends "base.html" %}
{% load url from future %}
{% load breadcrumbs %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url 'Process Dashboard' 'process_dashboard' %}
    {% breadcrumb process_request.get_process_display %}
  </ul>
{% endblock %}

{% block toes %}

<script>
function revoke_assignment()
{
    $.ajax(
    {
        type: "GET",
        url: "{% url 'revoke-process-request-assignment' process_request.id %}",
        statusCode: {
            200: function () {
                $('#worker').hide();
            },
            304: function () {
                $('#error_message').empty();
                $('#error_message').append('<span class=\"text-warning\">Revoking assignment failed.</span>');
            }
        },
        error: function(xhr, status, error) {
            $('#error_message').empty();
            var obj = JSON.parse(xhr.responseText);

            $.each(obj, function (i, value)
            {
                $('#error_message').append('<p class=\"text-warning\">' + value + '</p>');
            });

        }
    });
    return false;
}

</script>
{% endblock %}

{% block body %}
  <div class="container">
    <table class="key-value">
      <tr>
        <td>Process Request ID:</td>
        <td class="align-left">{{ process_request.id }}</td>
      </tr>

      <tr>
        <td>Requested by:</td>
        <td>{{ process_request.request_user.username }}</td>
      </tr>

      <tr>
        <td>Requested on:</td>
        <td>{{ process_request.request_date }}</td>
      </tr>

      <tr>
        <td>Status:</td>
        <td>{{ process_request.status }}</td>
      </tr>

      <tr>
        <td>Worker:</td>
        <td>
          <span id="worker">
            {{ process_request.worker.worker_name|default_if_none:'' }}
            {% if user.is_superuser and process_request.worker.worker_name != None %}
              <a class="btn btn-mini" rel="tooltip" onclick="revoke_assignment()" href="#" data-original-title="Revoke Assignment" data-placement="right">
                <i style="opacity: 0.4;margin: 0 10px;" class="icon-remove align-middle"></i>
              </a>
            {% endif %}
            <span id="error_message"></span>
          </span>
        </td>
      </tr>

      <tr>
        <td>Completion Date:</td>
        <td>{{ process_request.completion_date|default_if_none:'Not complete' }}</td>
      </tr>

    </table>
    </br>

    <table class="table table-hover">
      <thead>
        <tr>
          <th colspan="4" class="center">
            <h4>Process Request Input Values <span class="badge badge-inverse align-top">{{ process_request.processrequestinput_set.all.count }}</span></h4>
          </th>
        </tr>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {% for request_input in process_request.processrequestinput_set.all %}
        <tr>
          <td class="middle">{{ request_input.key }}</td>
          <td class="middle">{{ request_input.value|default_if_none:'' }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <table class="table table-hover">
      <thead>
        <tr>
          <th colspan="4" class="center">
            <h4>Process Request Outputs <span class="badge badge-inverse align-top">{{ process_request.processrequestoutput_set.all.count }}</span></h4>
          </th>
        </tr>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {% for request_output in process_request.processrequestoutput_set.all %}
        <tr>
          <td class="middle">{{ request_output.key }}</td>
          <td class="middle">
            <a href="{% url 'retrieve_process_request_output' request_output.id %}">
              Download
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}