{% extends "base.html" %}
{% load url from future %}
{% load breadcrumbs %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb project.project_name %}
  </ul>
{% endblock %}

{% block body %}
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th class="center" colspan="50">
            <div style="position:relative">
              <h4>{{ project.project_name }}</h4>

              <div class="btn-group" style="position:absolute; right:0;top:0;">
                {% if can_modify_project_data %}
                  <a class="btn btn-default btn-sm" href="{% url 'edit_project' project.id %}">Edit Project</a>
                {% endif %}
                {% if can_manage_project_users %}
                  <a class="btn btn-default btn-sm"  href="{% url 'view_project_users' project.id %}">Manage Users</a>
                {% endif %}
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tr>
        <td colspan="50">{{ project.project_desc|default_if_none:'' }}</td>
      </tr>
    </table>
  <div class="well">
    <p>
      <a href="{% url 'subject_groups' project.id %}">Subject Groups</a>
      <span class="glyphicon glyphicon-chevron-right"></span>
      <a href="{% url 'view_subjects' project.id %}">Subjects</a>
    </p>
    <p>
      <a href="{% url 'view_project_sites' project.id %}">Sites</a>
      <i class="glyphicon glyphicon-chevron-right"></i>
      <a href="{% url 'view_project_cytometers' project.id %}">Cytometers</a>
    </p>
    <p><a href="{% url 'project_visit_types' project.id %}">Visit Types</a></p>
    <p><a href="{% url 'view_project_stimulations' project.id %}">Stimulations</a></p>
    <p>
      <a href="{% url 'view_project_panels' project.id %}">Panel Templates</a>
      <i class="glyphicon glyphicon-chevron-right"></i>
      <a href="{% url 'view_project_site_panels' project.id %}">Site Panels</a>
    </p>
    <p>
      <a href="{% url 'view_project_samples' project.id %}">Samples</a>
    </p>
    <p><a href="{% url 'project_compensations' project.id %}">Compensation Matrices</a></p>
  </div>
</div>
{% endblock %}