{% extends "base.html" %}
{% load url from future %}

{% block body %}
<div class="container">
  <div class="row lead">
    <div class="span4">
      <a href="{% url 'view_project' project.id %}">
        {{ project.project_name }}
      </a>
    </div>
    <div class="pull-right">
      Sample Sets <span class="badge badge-inverse align-top">{{ sample_sets|length }}</span>
    </div>
  </div>

  {% if samples_sets|length > 0 %}
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Set ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Sample Count</th>
      </tr>
    </thead>
    <tbody>
      {% for set in sample_sets %}
      <tr>
        <td class="middle">
          {{ set.id }}
          <a class="align-middle pull-right" rel="tooltip" href="{% url 'view_sample_set' set.id %}" data-original-title="View Set" data-placement="bottom">
            <i style="opacity: 0.4" class="icon-th-list align-middle"></i>
          </a>
        </td>
        <td class="middle">{{ set.name }}</td>
        <td class="middle">{{ set.description }}</td>
        <td class="middle">{{ set.samples.all.count }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No sample sets have been created for this project.</p>
  {% endif %}
  <div class="pull-right">
    <a class="btn btn-success btn-small" href="{% url 'add_sample_set' project.id %}">
      <i class="icon-plus icon-white"></i> Create a New Set
    </a>
  </div>
</div>
{% endblock %}