{% extends "base.html" %}
{% load url from future %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}jquery-ui-1.9.2.custom/css/overcast/jquery-ui-1.9.2.custom.css" />
{% endblock %}

{% block toes %}
<script src="{{ STATIC_URL }}jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js"></script>

<script>
$(document).ready(function()
{
    var select_panel_dialog = $("<div></div>").dialog(
    {
        autoOpen: false,
        title: 'Select a Panel',
        modal: false,
        position: 'center',
        height: 350,
        width: 500
    });

    $(".select_panel").click(function()
    {
        select_panel_dialog.dialog({ close: function() { $(this).empty(); } });
        select_panel_dialog.load($(this).data("form-url"));
        select_panel_dialog.dialog('open');
    });
    return false;
});

</script>
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row lead">
      <div class="span4"><a href="{% url 'repository.views.view_project' project.id %}">{{ project.project_name }}</a></div>
      <div class="pull-right">
        Subject: {{ subject.subject_id }}
        <a rel="tooltip" href="{% url 'edit_subject' subject.id %}" data-original-title="Edit Subject" data-placement="bottom">
          <i style="opacity: 0.4" class="icon-th-list align-middle"></i>
        </a>
      </div>
    </div>

    {% if samples %}
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th colspan="4" class="center">Flow Cytometry Files</th>
        </tr>
        <tr>
            <th>Sample ID</th>
            <th>Actions</th>
            <th>Parameters</th>
        </tr>
      </thead>
      <tbody>
        {% for sample in samples %}
        <tr>
          <td class="middle">{{ sample.id }}</td>
          <td class="middle">
              <a href="{% url 'retrieve_sample' sample.id %}">Download FCS File</a><br/>
              <a href="{% url 'sample_data' sample.id %}">Download CSV</a><br/>
              <a href="{% url 'sample_scatterplot' sample.id %}">Scatterplot</a>
          </td>
          <td>
              {% if sample.sampleparametermap_set.all.count > 0 %}
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>FCS Number</th>
                    <th>FCS Text</th>
                    <th>Name</th>
                    <th>Value Type</th>
                    <th>Antibody</th>
                    <th>Fluorochrome</th>
                </thead>
                <tbody>
                  {% for sp_map in sample.sampleparametermap_set.all %}
                  <tr>
                    <td>
                      {{ sp_map.fcs_number }}
                    </td>
                    <td>
                      {{ sp_map.fcs_text }}
                    </td>
                    <td>
                      {{ sp_map.parameter.parameter_short_name }}
                    </td>
                    <td>
                        {{ sp_map.value_type.value_type_name }}
                    </td>
                    <td>
                      {% for ab in sp_map.parameter.parameterantibodymap_set.all %}
                        {{ ab.antibody }}
                      {% endfor %}
                    </td>
                    <td>
                      {% for fluoro in sp_map.parameter.parameterfluorochromemap_set.all %}
                        {{ fluoro.fluorochrome.fluorochrome_short_name }}
                      {% endfor %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% else %}
              No parameters have been associated with this sample. Select a panel to associate parameters.<br/>
              <a class="select_panel btn btn-success btn-small" href="#" data-form-url="{% url 'select_panel' sample.id %}">
                <i class="icon-plus icon-white"></i> Select Panel
              </a>
              {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>Subject has no flow cytometry samples.</p>
    {% endif %}
    <div class="pull-right">
      <a class="btn btn-success btn-small" href="{% url 'add_sample' subject.id %}">
        <i class="icon-plus icon-white"></i> Add Sample
      </a>
    </div>
  </div>
{% endblock %}