{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load breadcrumbs %}

{% block toes %}
<script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
<script>
$(document).ready(function () {
    $('#sample-filter-form').submit(function () {

        $("#data-table > tbody").find('tr').remove();

        var form_data = $(this).serialize();

        if (form_data == "") {
            $('#sample-count').text('0');
            return false;
        }

        var sample_url = "{% url 'sample-list' %}?subject__project={{ project.id }}&" + form_data;

        $.ajax(
        {
            dataType: 'json',
            type: 'GET',
            url: sample_url,
            success: function (data) {
                <!-- update sample count -->
                $('#sample-count').text(data.length);

                $.each(data, function(i, d) {
                    var row_content =
                        '<td width="1%" class="no-wrap middle">' +
                          '<a class="btn btn-default btn-xs" rel="tooltip" href="javascript:void(0)" onclick="show_parameters(' + d.id + ')" data-original-title="Show Parameters" data-placement="bottom">' +
                            '<i style="opacity: 0.4" class="glyphicon glyphicon-list-alt align-middle"></i>' +
                          '</a>' +
                          '<a class="btn btn-default btn-xs" rel="tooltip" href="javascript:void(0)" onclick="show_compensation(' + d.id + ')" data-original-title="Show Compensation" data-placement="bottom">' +
                            '<i style="opacity: 0.4" class="glyphicon glyphicon-qrcode align-middle"></i>' +
                          '</a>' +
                          '<a class="btn btn-default btn-xs" rel="tooltip" href="/api/repository/samples/' + d.id + '/fcs_original/" data-original-title="Download FCS File" data-placement="bottom">' +
                            '<i style="opacity: 0.4" class="glyphicon glyphicon-download-alt align-middle"></i>' +
                          '</a>' +
                          '<a class="btn btn-default btn-xs" rel="tooltip" href="/api/repository/samples/' + d.id + '/csv/" data-original-title="Download Subsampled CSV File" data-placement="bottom">' +
                            '<i style="opacity: 0.4" class="glyphicon glyphicon-download-alt align-middle"></i>' +
                          '</a>' +
                          '<a class="btn btn-default btn-xs" rel="tooltip" href="/sample/' + d.id + '/edit/" data-original-title="Edit" data-placement="bottom">' +
                            '<i style="opacity: 0.4" class="glyphicon glyphicon-pencil align-middle"></i>' +
                          '</a>' +
                        '</td>' +
                        '<td class="no-wrap middle">' + d.original_filename + '</td>' +
                        '<td class="middle">' + d.upload_date + '</td>' +
                        '<td class="middle">' + d.acquisition_date + '</td>';

                    $('#data-table').find('tbody').append(
                        $('<tr>').append(row_content)
                    );
                });

                <!-- re-activate all tooltips -->
                $('#data-table').find("[rel=tooltip]").tooltip();

                <!-- update tablesorter -->
                $('#data-table').trigger("update");

            }
        });
        return false;
    });
});

$(function() {
  $("table#data-table").tablesorter({
    sortList: [[1,0]],
    headers: {
      0: { sorter: false}
    }
  });
});

var select_panel_dialog;

function show_parameters(id) {
    select_panel_dialog = $("<div></div>").dialog(
    {
        autoOpen: false,
        title: 'Parameters',
        modal: true,
        position: 'center',
        width: $(window).width() * 0.8,
        height: $(window).height() * 0.6,
        resizable: true
    });
    select_panel_dialog.dialog({ close: function() { $(this).empty(); } });
    select_panel_dialog.load("/sample/" + id + "/parameters/");
    select_panel_dialog.dialog('open');
    return false;
}

function show_compensation(id) {
    select_panel_dialog = $("<div></div>").dialog(
    {
        autoOpen: false,
        title: 'Compensation',
        modal: true,
        position: 'center',
        width: $(window).width() * 0.8,
        height: $(window).height() * 0.6,
        resizable: true
    });
    select_panel_dialog.dialog({ close: function() { $(this).empty(); } });
    select_panel_dialog.load("/sample/" + id + "/compensation/");
    select_panel_dialog.dialog('open');
    return false;
}
</script>
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url project.project_name 'view_project' project.id %}
    {% breadcrumb 'Samples' %}
  </ul>
{% endblock %}

{% block body %}
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th colspan="50" class="center">
            <div style="position:relative">
              <h4>Samples <span id="sample-count" class="badge badge-inverse align-top">0</span></h4>

              {% if can_add_project_data or user_add_sites.count > 0 %}
              <div style="position:absolute; right:0;top:0;">
                <a class="btn btn-default btn-sm" href="{% url 'add_sample' project.id %}">
                  Add Sample
                </a>
              </div>
              {% endif %}
            </div>
          </th>
        </tr>
      </thead>
      <tbody><tr><td></td></tr></tbody>
    </table>


    <div class="row">
      <div class="col-md-4">
        <div class="well">
          <form class="unstyled-checkboxes" id="sample-filter-form" method="get">
            <div style="position: relative">
              <h4>Filter</h4>
              <div style="position: absolute; right:0;top:0;">
                <button class="btn btn-default btn-sm" type="submit">
                  Apply
                </button>
              </div>
            </div>

            {% for field in filter_form %}
            <hr/>
            <b>{{ field.label }}</b>
            {{ field }}
            {% endfor %}
          </form>
        </div>
      </div>

      <div class="col-md-8">
        <table id="data-table" class="table table-hover">
          <thead>
            <tr>
                <th></th>
                <th>File name</th>
                <th>Upload Date</th>
                <th>Acquisition Date</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div> <!-- end col-md-9 -->
    </div> <!-- end row -->
  </div>
{% endblock %}