{% extends "base.html" %}
{% load url from future %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}jquery-ui-1.9.2.custom/css/overcast/jquery-ui-1.9.2.custom.css" />
{% endblock %}

{% block toes %}
<script src="{{ STATIC_URL }}jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js"></script>

<script>
$(document).ready(function()
{
    var add_param_dialog = $("<div></div>").dialog(
    {
        autoOpen: false,
        title: 'Add a Parameter',
        modal: false,
        position: 'center',
        height: 350,
        width: 500
    });

    $(".add_parameter").click(function()
    {
        add_param_dialog.dialog({ close: function() { $(this).empty(); } });
        add_param_dialog.load($(this).data("form-url"));
        add_param_dialog.dialog('open');
    });
    return false;
});

</script>
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row lead">
      <div class="span4">
        <a href="{% url 'repository.views.view_project' project.id %}">{{ project.project_name }}</a>
      </div>
      <div class="pull-right">Panels <span class="badge badge-inverse align-top">{{ panels.count }}</span></div>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Panel</th>
          <th>Site</th>
          <th>Parameters</th>
        </tr>
      </thead>
      <tbody>
        {% for panel in panels %}
        <tr>
          <td>
            {{ panel.panel_name }}
            <span class="pull-right">
              <a rel="tooltip" href="{% url 'edit_panel' panel.id %}" data-original-title="Edit Panel" data-placement="left">
                  <i style="opacity: 0.4" class="icon-th-list align-middle"></i>
              </a>
            </span>
          </td>
          <td>{{ panel.site.site_name }}</td>
          <td>
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Value Type</th>
                    <th>FCS Text</th>
                    <th>Antibody</th>
                    <th>Fluorochrome</th>
                </thead>
                <tbody>
                  {% for ppm in panel.panelparametermap_set.all %}
                  <tr>
                    <td>
                      {{ ppm.parameter.parameter_short_name }}
                      <span class="pull-right">
                        <a class="remove_parameter" rel="tooltip" href="{% url 'remove_panel_parameter' ppm.id %}" data-original-title="Remove Parameter" data-placement="right">
                          <i style="opacity: 0.4" class="icon-remove align-middle"></i>
                        </a>
                      </span>
                    </td>
                    <td>
                        {{ ppm.value_type.value_type_name }}
                    </td>
                    <td>
                        {{ ppm.fcs_text }}
                    </td>
                    <td>
                      {% for ab in ppm.parameter.parameterantibodymap_set.all %}
                        {{ ab.antibody }}
                      {% endfor %}
                    </td>
                    <td>
                      {% for fl in ppm.parameter.parameterfluorochromemap_set.all %}
                        {{ fl.fluorochrome.fluorochrome_short_name }}
                      {% endfor %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

              <a class="add_parameter btn btn-success btn-small" href="#" data-form-url="{% url 'add_panel_parameter' panel.id %}">
                <i class="icon-plus icon-white"></i> Add Parameter
              </a>

          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="pull-right">
      <a class="btn btn-success btn-small" href="{% url 'add_panel' project.id %}">
        <i class="icon-plus icon-white"></i> Add Panel
      </a>
    </div>
  </div>
{% endblock %}