{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load breadcrumbs %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'jquery-ui-1.9.2.custom/css/overcast/jquery-ui-1.9.2.custom.css' %}" />
{% endblock %}

{% block toes %}
<script src="{% static 'jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js' %}"></script>
<script src="{% static 'jquery-ui-1.9.2.custom/js/jquery.tablesorter.min.js' %}"></script>

<script>
$(function() {
  $("table#data-table").tablesorter({
    sortList: [[0,0]],
    headers: {
      0: { sorter: false},
      3: { sorter: false},
    }
  });
});
</script>

<script>
$(document).ready(function()
{
    var error_dialog = $("#error_dialog").dialog(
    {
        autoOpen: false,
        title: 'Error',
        modal: true,
        position: 'center'
    });

    $('.add_parameter_form').submit(function ()
    {
        $('#save_parameter_button').attr('disabled', true);
        var form = $(this);
        $.ajax(
        {
            data: $(this).serialize(),
            type: $(this).attr('method'),
            url: $(this).attr('action'),
            success: function (xhr, status, error) {
                window.location.reload();
            },
            error: function(xhr, status, error) {
                $('#error_message').empty();
                var obj = JSON.parse(xhr.responseText);

                $.each(obj['__all__'], function (i, value)
                {
                    $('#error_dialog').append('<p class=\"text-warning\">' + value + '</p>');
                });

                error_dialog.dialog({ close: function() { $(this).empty(); } });
                error_dialog.dialog('open');

                $('#save_parameter_button').attr('disabled', false);
                return false;
            }
        });
        return false;
    });

    $(".add_parameter").click(function()
    {
        $(this).siblings('table').children('tbody').find('tr.add_parameter_row').show();
        $(this).siblings('div.hide').show();
        $(this).hide();
        return false;
    });

    $(".cancel").click(function()
    {
        $(this).closest('div.hide').siblings('table').children('tbody').find('tr.add_parameter_row').hide();
        $(this).closest('div.hide').hide();
        $(this).closest('div.hide').siblings('a.add_parameter').show();
        return false;
    });

    $(".show-all").click(function()
    {
        $('.params').show(250);
        return false;
    });

    $(".hide-all").click(function()
    {
        $('.params').hide(250);
        return false;
    });

    $(".toggle-closest").click(function()
    {
        $(this).siblings('div.params').toggle(250);
        return false;
    });

    return false;
});

</script>
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url site.project.project_name 'view_project' site.project.id %}
    {% breadcrumb_url 'Sites' 'view_project_sites' site.project.id %}
    {% breadcrumb_url site.site_name 'view_site' site.id %}
    {% breadcrumb 'Site Panels' %}
  </ul>
{% endblock %}

{% block body %}
<div id="error_dialog"></div>

  <div class="container">
    <table id="data-table" class="table table-hover">
      <thead>
        <tr>
          <th colspan="3" class="center">
            <div style="position:relative">
              <h4>Site Panels <span class="badge badge-inverse align-top">{{ panels|length }}</span></h4>

              {% if can_add_site_data %}
              <div style="position:absolute; right:0;top:0;">
                <a class="btn btn-small" href="{% url 'add_site_panel' site.id %}">
                  Add Site Panel
                </a>
              </div>
              {% endif %}
            </div>
          </th>
        </tr>
        <tr>
          <th>Panel Name</th>
          <th>Site</th>
          <th>
            Parameters
            <span class="pull-right">
                <a href="#" class="show-all">Show All</a> | <a href="#" class="hide-all">Hide All</a>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for panel in panels|dictsort:"panel_name" %}
        <tr>
          <td>
            {{ panel.panel_name }}
            <span class="pull-right">
              {% if panel.panel_description != '' and panel.panel_description != None  %}
              <a rel="tooltip" href="#" data-original-title="{{ panel.panel_description }}" data-placement="bottom">
                  <i style="opacity: 0.4" class="icon-info-sign align-middle"></i>
              </a>
              {% endif %}
              {% if can_modify_site_data %}
              <a rel="tooltip" href="{% url 'edit_site_panel' panel.id %}" data-original-title="Edit" data-placement="left">
                  <i style="opacity: 0.4" class="icon-pencil align-middle"></i>
              </a>
              {% endif %}
            </span>
          </td>
          <td>{{ panel.site__site_name }}</td>
          <td width="75%">
            <a href="#" class="toggle-closest">Show/Hide</a>
            <div class="hide params">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Value Type</th>
                    <th>FCS Text <a rel="tooltip" class="pull-right label label-inverse" data-original-title="Exact text from the FCS $PnN field" data-placement="left">?</a></th>
                    <th>FCS Optional Text <a rel="tooltip" class="pull-right label label-inverse" data-original-title="Exact text from the FCS $PnS field" data-placement="left">?</a></th>
                  </tr>
                </thead>
                <tbody>
                  {% for ppm in panel.parameters|dictsort:"fcs_text" %}
                  <tr>
                    <td width="33%">
                      {{ ppm.parameter__parameter_short_name }}
                      {% if can_modify_site_data %}
                      <span class="pull-right">
                        <a class="remove_parameter" rel="tooltip" href="{% url 'remove_panel_parameter' ppm.id %}" data-original-title="Remove Parameter" data-placement="right">
                          <i style="opacity: 0.4" class="icon-remove align-middle"></i>
                        </a>
                      </span>
                      {% endif %}
                    </td>
                    <td>
                        {{ ppm.value_type__value_type_name }}
                    </td>
                    <td>
                        {{ ppm.fcs_text }}
                    </td>
                    <td>
                        {{ ppm.fcs_opt_text }}
                    </td>
                  </tr>
                  {% endfor %}
                  {% if can_add_site_data %}
                  <tr class="hide add_parameter_row">
                    <td>
                      <form class="add_parameter_form" style="margin: 0; padding: 0" action="{% url 'view_site_panels' site.id %}" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="panel" value="{{ panel.id }}">
                      {{ form.parameter }}
                    </td>
                    <td>
                      {{ form.value_type }}
                    </td>
                    <td>
                      {{ form.fcs_text }}
                    </td>
                    <td>
                      {{ form.fcs_opt_text }}
                    </td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>

              {% if panel.parameters.count == 0 %}
              <p>No parameters have been associated with this panel.</p>
              {% endif %}
              {% if can_add_site_data %}
              <a class="add_parameter btn btn-success btn-mini" href="#">
                <i class="icon-plus icon-white"></i> Add Parameter
              </a>
              <div class="hide control-group">
                <div class="controls">
                    <button id="save_parameter_button" class="btn btn-small btn-primary" type="submit">Save</button>
                    <a class="cancel btn btn-small btn-warning">Cancel</a>
                </div>
              </div>
              </form>
              {% endif %}
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}