{% extends "base.html" %}
{% load url from future %}

{% block body %}
<div class="container">
  <div class="row lead">
    <div class="pull-right">
      Specimens <span class="badge badge-inverse align-top">{{ specimens|length }}</span>
    </div>
  </div>

  {% if specimens %}
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
          <th>Specimen ID</th>
          <th>Name</th>
          <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for specimen in specimens %}
      <tr>
        <td class="middle">
          {{ specimen.id }}
          {% if user.is_superuser %}
          <div class="pull-right align-middle">
            <a rel="tooltip" href="{% url 'edit_specimen' specimen.id %}" data-original-title="Edit Specimen" data-placement="bottom">
              <i style="opacity: 0.4" class="icon-th-list align-middle"></i>
            </a>
          </div>
          {% endif %}
        </td>
        <td class="middle">{{ specimen.specimen_name }}</td>
        <td class="middle">{{ specimen.specimen_description|default_if_none:'' }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No specimens have been entered in this web site.</p>
  {% endif %}
  {% if user.is_superuser %}
  <div class="pull-right">
    <a class="btn btn-success btn-small" href="{% url 'add_specimen' %}">
      <i class="icon-plus icon-white"></i> Add Specimen
    </a>
  </div>
  {% endif %}
</div>
{% endblock %}