  <div class="well">

    <div class="row">
      <div class="col-md-5">
        <h4>Specimens</h4>

            <a ui-sref="">View</a><br/>
            <a ui-sref="">Add Specimen</a><br/>

      </div>
    </div>

    <div class="row">
      <br/>
    </div>

    <div class="row">
      <div class="col-md-5">
        <h4>Markers</h4>

            <a ui-sref="marker-list">View</a><br/>
            <a ui-sref="">Add Marker</a><br/>

      </div>
      <div class="col-md-5">
        <h4>Fluorochromes</h4>

            <a ui-sref="">View</a><br/>
            <a ui-sref="">Add Fluorochrome</a><br/>

      </div>
    </div>

    <div class="row">
      <br/>
    </div>

    <div class="row">
      <div class="col-md-5">
        <h4>Process Manager</h4>

            <a ui-sref="">Dashboard</a><br/>

      </div>
    </div>
  </div>