  <div class="well">

    <div class="row">
      <div class="col-md-5">
        <h4>Specimens</h4>

            <a ui-sref="specimen-list">View</a><br/>
            <a href="" ng-click="init_form(null, 'SPECIMEN')">Add Specimen</a><br/>

      </div>
    </div>

    <div class="row">
      <br/>
    </div>

    <div class="row">
      <div class="col-md-5">
        <h4>Markers</h4>

            <a ui-sref="marker-list">View</a><br/>
            <a href="" ng-click="init_form(null, 'MARKER')">Add Marker</a><br/>

      </div>
      <div class="col-md-5">
        <h4>Fluorochromes</h4>

            <a ui-sref="fluorochrome-list">View</a><br/>
            <a href="" ng-click="init_form(null, 'FLUOROCHROME')">Add Fluorochrome</a><br/>

      </div>
    </div>

    <div class="row">
      <br/>
    </div>

    <div class="row">
      <div class="col-md-5">
        <h4>Workers</h4>

            <a ui-sref="worker-list">View</a><br/>
            <a href="" ng-click="init_form(null, 'WORKER')">Add Worker</a><br/>

      </div>
    </div>
  </div>