  <div class="modal-header">
    <button type="button" class="close" ng-click="ok()" aria-hidden="true">&times;</button>
    Create Compensation Matrix from FCS Sample
  </div>
  <div class="modal-body">

    <div class="form-group">
      <label class="col-md-2 control-label">Compensation Name: </label>
      <input type="text" ng-model="comp_instance.name" ng-required="true" />
      <strong ng-show="errors.name" class="help-inline text-danger">
        {{ errors.name.join(', ') }}
      </strong>
    </div>

    <br/>

    <div class="form-group">
      <label class="col-md-2 control-label">Acquisition Date: </label>
      <input type="text" ng-click="open($event)" datepicker-popup="{{format}}" ng-model="comp_instance.acquisition_date" is-open="$parent.datepicker_open" datepicker-options="dateOptions" show-weeks="false" ng-required="true" close-text="Close" />
      <strong ng-show="errors.acquisition_date" class="help-inline text-danger">
        {{ errors.acquisition_date.join(', ') }}
      </strong>
    </div>

    <br/>

    <textarea class="form-control" rows="12" ng-model="comp_instance.matrix_text"></textarea>

    <span ng-show="errors.matrix_text">
      <br/>
      <div class="well well-warning">
        {{ errors.matrix_text }}
      </div>
    </span>

    <br/>

    <div class="well well-warning" ng-show="errors || errors.site_panel || errors.length > 0">
      <span ng-show="errors.site_panel_match == false">
        <p>
          <strong>No matching samples were found for the chosen panel and site.</strong>
        </p>

        <p>
          Upload the corresponding samples first and ensure that the
          compensation matrix header matches the files' annotation.
        </p>
      </span>
      <ul class="list-unstyled">
        {{ errors.detail }}
      </ul>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ok()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="create()" ng-disabled="comp_instance.complete">Save</button>
  </div>