<div ng-controller="CompensationEditController">
  <div class="modal-header">
    <button type="button" class="close" ng-click="ok()" aria-hidden="true">&times;</button>
    Upload Compensation Matrix
  </div>
  <div class="modal-body">

    <div class="form-group">
      <label class="col-md-3 control-label">Panel</label>
      <select ng-model="instance.panel_template" ng-required="true" ng-options="p.id as p.panel_name for p in panel_templates">
      </select>
      <strong ng-show="errors.panel_template" class="help-inline text-danger">
        {{ errors.site.join(', ') }}
      </strong>
    </div>

    <br/>

    <div class="form-group">
      <label class="col-md-3 control-label">Site</label>
      <select ng-model="instance.site" ng-required="true" ng-options="s.id as s.site_name for s in sites">
      </select>
      <strong ng-show="errors.site" class="help-inline text-danger">
        {{ errors.site.join(', ') }}
      </strong>
    </div>

    <br/>

    <div class="form-group">
      <label class="col-md-3 control-label">Acquisition Date</label>
      <input type="text" ng-click="open($event)" datepicker-popup="{{format}}" ng-model="instance.acquisition_date" is-open="datepicker_open" datepicker-options="dateOptions" show-weeks="false" ng-required="true" close-text="Close" />
      <strong ng-show="errors.acquisition_date" class="help-inline text-danger">
        {{ errors.acquisition_date.join(', ') }}
      </strong>
    </div>

    <br/>

    <input type="file" ng-file-select="onFileSelect($files)" />

    <div class="well well-warning" ng-show="matrix_errors.length > 0">
      <ul class="list-unstyled">
        <li ng-repeat="error in matrix_errors">{{ error }}</li>
      </ul>
    </div>

    <div class="well well-warning" ng-show="errors.__all__ || errors.site_panel">
      <span ng-show="errors.site_panel_match == false">
        <p>
          <strong>No matching samples were found for the chosen panel and site.</strong>
        </p>

        <p>
          Upload the corresponding samples first and ensure that the
          compensation matrix header matches the files' annotation.
        </p>
      </span>
      <ul class="list-unstyled">
        <li ng-repeat="error in errors.__all__">{{ error }}</li>
      </ul>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ok()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="create()" ng-disabled="instance.complete">Save</button>
  </div>
</div>