    <table id="data-table" class="table table-hover">
      <thead>
        <tr>
          <th colspan="50" class="center">
            <div style="position:relative">
              <h4>Compensation Matrices <span class="badge badge-inverse align-top">{{ compensations.length }}</span></h4>

              <div class="btn-group" ng-show="can_add_data" style="position:absolute; right:0;top:0;">
                  <a class="btn btn-default btn-sm" ng-click="init_form(null)">
                      Add Compensation
                  </a>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Panel</th>
          <th>Site</th>
          <th>Acquisition Date</th>
          <th>Sample Count</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="comp in compensations">
          <td>
            <a class="btn btn-default btn-xs" ng-click="show_matrix(comp)" tooltip="Show Compensation" tooltip-placement="bottom">
              <i style="opacity: 0.4" class="fa fa-eye align-middle"></i>
            </a>
            <a class="btn btn-default btn-xs" href="/api/repository/compensations/{{ comp.id }}/csv/" tooltip="Download" tooltip-placement="bottom">
              <i style="opacity: 0.4" class="fa fa-download align-middle"></i>
            </a>
            <a class="btn btn-default btn-xs" ng-show="comp.can_modify" ng-click="init_delete(comp, 'COMPENSATION_DELETE')" tooltip="Delete" tooltip-placement="bottom">
              <i style="opacity: 0.4" class="fa fa-times align-middle"></i>
            </a>
          </td>
          <td>{{ comp.name }}</td>
          <td>{{ comp.panel_name }}</td>
          <td>{{ comp.site_name }}</td>
          <td>{{ comp.acquisition_date }}</td>
          <td>{{ comp.sample_count }}</td>
        </tr>
      </tbody>
    </table>