  <div ng-controller="SitePanelController">

    <div class="modal-header">
      <button type="button" class="close" ng-click="ok()" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">
        {{ site_panel_model.site_panel_sample.filename }}
      </h4>
    </div>
    <div class="modal-body">
      <div class="well well-info">
          No existing panels match this file's parameter text.<br />
          Please annotate the parameters and ReFlow will remember it for you next time.
      </div>
      <div class="row">
        <div class="col-md-3">

          <div class="well">

            <p>
              <strong>
                {{ site_panel_model.current_panel_template.panel_name }}
              </strong>
            </p>

            Parameters to match:
            <ul class="list-unstyled" ng-show="site_panel_model.current_panel_template">
              <li ng-repeat="param in site_panel_model.current_panel_template.parameters">
                <span ng-show="param.match" class="fa fa-check"></span>
                <span ng-hide="param.match" class="fa fa-exclamation-triangle danger"></span>
                {{ param.parameter_type }},
                {{ param.parameter_value_type }}<span ng-repeat="m in param.markers">,
                {{ m.name }}</span><span ng-show="param.fluorochrome">,
                {{ param.fluorochrome_abbreviation }}</span>
              </li>
            </ul>
          </div>

          <div class="alert alert-danger" ng-show="site_panel_model.errors">
            <p data-ng-repeat="e in site_panel_model.errors">{{ e }}</p>
          </div>

        </div>

        <div class="col-md-9">
          <table class="table-condensed width-full">
            <thead>
              <tr>
                <th>#</th>
                <th>PnN</th>
                <th>PnS</th>
                <th>Function</th>
                <th>Value Type</th>
                <th>Markers</th>
                <th>Fluorochrome</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat-start="channel in site_panel_model.site_panel_sample.channels">
                <td class="no-wrap">{{ channel.channel }}</td>
                <td class="no-wrap">{{ channel.pnn }}</td>
                <td class="no-wrap">{{ channel.pns }}</td>
                <td>
                  <div ng-controller="ParameterController">
                    <select class="form-control" ng-model="channel.function" ng-change="validatePanel()" ng-required="!channel.marker_disabled" ng-options="p[0] as p[1] for p in site_panel_model.parameter_functions">
                    </select>
                  </div>
                </td>
                <td>
                  <div ng-controller="ParameterController">
                    <select class="form-control" ng-model="channel.value_type" ng-change="validatePanel()" ng-options="p[0] as p[1] for p in site_panel_model.parameter_value_types">
                    </select>
                  </div>
                </td>
                <td>
                  <div ng-controller="ParameterController">
                    <select ui-select2="{}" multiple ng-model="channel.markers" ng-change="validatePanel()" ng-disabled="channel.marker_disabled">
                      <option value="{{ m.id }}" data-ng-repeat="m in site_panel_model.markers">{{ m.marker_abbreviation }}</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div ng-controller="ParameterController">
                    <select class="form-control" ng-model="channel.fluorochrome" ng-change="validatePanel()" ng-disabled="channel.fluoro_disabled" ng-options="f.id as f.fluorochrome_abbreviation for f in site_panel_model.fluorochromes">
                    <option value=""></option>
                    </select>
                  </div>
                </td>
              </tr>
              <tr ng-repeat-end ng-show="channel.errors">
                <td colspan="50">
                  <div class="alert alert-danger">
                  <ul>
                    <li data-ng-repeat="e in channel.errors"><strong>{{ e }}</strong></li>
                  </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="ok()">Close</button>
      <button type="button" class="btn btn-primary" ng-disabled="!site_panel_model.site_panel_valid" ng-click="savePanel()">Save Panel</button>
    </div>
  </div>
