<div ng-controller="CytometerEditController">
  <div class="modal-header">
    <button type="button" class="close" ng-click="ok()" aria-hidden="true">&times;</button>
    Create or Edit Cytometer
  </div>
  <div class="modal-body">

    <div class="form-group" ng-hide="instance.id">
      <label class="col-md-3 control-label">Site</label>
      <select ng-model="instance.site" ng-required="true" ng-options="s.id as s.site_name for s in sites">
      </select>
      <strong ng-show="errors.site" class="help-inline text-danger">
        {{ errors.site.join(', ') }}
      </strong>
    </div>

    <br/>

    <div class="form-group">
      <label class="col-md-3 control-label">Cytometer Name</label>
      <input maxlength="128" type="text" ng-model="instance.cytometer_name" />
      <strong ng-show="errors.cytometer_name" class="help-inline text-danger">
        {{ errors.cytometer_name.join(', ') }}
      </strong>
    </div>

    <br/>

    <div class="form-group">
      <label class="col-md-3 control-label">Serial Number</label>
      <input maxlength="128" type="text" ng-model="instance.serial_number" />
      <strong ng-show="errors.serial_number" class="help-inline text-danger">
        {{ errors.serial_number.join(', ') }}
      </strong>
    </div>

    <div class="well well-warning" ng-show="errors.__all__">
      <ul class="list-unstyled">
        <li ng-repeat="error in errors.__all__">{{ error }}</li>
      </ul>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ok()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="create_update(instance)">Save</button>
  </div>
</div>