<div ng-controller="FluorochromeDeleteController">
  <div class="modal-header">
    <button type="button" class="close" ng-click="ok()" aria-hidden="true">&times;</button>
    Delete Fluorochrome: {{ instance.fluorochrome_name }}
  </div>
  <div class="modal-body">

    <h4>Are you sure you want to delete this fluorochrome?</h4>

    <div class="well well-info">
      <span ng-show="instance.parameter_count > 0">
        {{ instance.parameter_count }} parameter(s) reference to this fluorochrome.
        Fluorochromes used in existing panels cannot be deleted.
      </span>
      <span ng-show="instance.parameter_count == 0">
        There are no panels that reference this fluorochrome.
      </span>
    </div>

    <div class="well well-warning" ng-show="errors.__all__">
      <ul class="list-unstyled">
        <li ng-repeat="error in errors.__all__">{{ error }}</li>
      </ul>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ok()">Cancel</button>
    <button type="button" class="btn btn-danger" ng-disabled="instance.parameter_count>0" ng-click="destroy(instance)">Delete</button>
  </div>
</div>