<div ng-controller="ProjectQueryController">

    <table id="project-table" class="table table-hover" ng-show="model.projects.length > 0">
      <thead>
        <tr>
          <th colspan="3" class="center">
            <h4>Projects <span class="badge badge-inverse align-top">{{ model.projects.length }}</span></h4>
          </th>
        </tr>
        <tr>
          <th>Project Name</th>
          <th>Project Permissions</th>
          <th>Site Permissions</th>
        </tr>
      </thead>

      <tbody>

        <tr ng-repeat="project in model.projects">
          <td>
            <a href="#/projects/{{project.id}}" ng-click="select_project(project)">{{ project.project_name }}</a>
          </td>
          <td>
            <p ng-repeat="perm in project.permissions">{{ perm }}</p>
          </td>
          <td>
            <ul>
              <li ng-repeat="site in project.sites" ng-show="site.permissions.length > 0">{{ site.site_name }}
              <ul>
                <li ng-repeat="site_perm in site.permissions">{{ site_perm }}</li>
              </ul>
              </li>
            </ul>

          </td>
        </tr>

      </tbody>
    </table>

    <p ng-show="model.projects.length == 0">You do not belong to any projects.</p>
</div>
