  <div class="row">
    <div class="col-md-3">

      <div class="well">
        <div>
          Name:
          <input type="text" class="form-control" ng-model="model.panel_name" ng-change="validatePanel()" ng-required="true">
          </input>
        </div>

        <br/>

      </div>

      <div class="alert alert-danger" ng-show="model.errors">
        <p class="lead" data-ng-repeat="e in model.errors">
          <i class="fa fa-exclamation-triangle"></i> {{ e }}
        </p>
      </div>

    </div>

    <div class="col-md-9">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Function</th>
            <th>Value Type</th>
            <th>Markers</th>
            <th>Fluorochrome</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat-start="channel in model.channels">
            <td>
              <button class="btn btn-sm btn-default" data-ng-click="removeChannel(channel)" popover="Remove Channel" popover-trigger="mouseenter">
                  <i class="fa fa-times danger"></i>
              </button>
            </td>
            <td>
                <select class="form-control" ng-model="channel.function" ng-change="validatePanel()" ng-required="true" ng-options="p[0] as p[1] for p in model.parameter_functions">
                </select>
            </td>
            <td>
                <select class="form-control" ng-model="channel.value_type" ng-change="validatePanel()" ng-required="true" ng-options="p[0] as p[1] for p in model.parameter_value_types">
                </select>
            </td>
            <td>
                <ui-select multiple theme="bootstrap" ng-model="channel.markers" search-enabled="true"
                           ng-show="channel.function == 'FLR'" ng-change="validatePanel()" ng-disabled="channel.marker_disabled">
                  <ui-select-match>{{ $item.marker_abbreviation }}</ui-select-match>

                  <ui-select-choices repeat="m.id as m in model.markers | filter:$select.search">
                    {{ m.marker_abbreviation }}
                  </ui-select-choices>

                </ui-select>
            </td>
            <td>
                <select class="form-control" ng-model="channel.fluorochrome" ng-show="channel.function == 'FLR'" ng-required="true" ng-change="validatePanel()" ng-disabled="channel.fluoro_disabled" ng-options="f.id as f.fluorochrome_abbreviation for f in model.fluorochromes">
                  <option value=""></option>
                </select>
            </td>
          </tr>
          <tr ng-repeat-end ng-show="channel.errors">
            <td colspan="50">
              <div class="alert alert-danger">
              <ul>
                <li data-ng-repeat="e in channel.errors"><strong>{{ e }}</strong></li>
              </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pull-right">
    <button type="button" class="btn btn-success" ng-click="addChannel()">Add Channel</button>
    <button type="button" class="btn btn-primary" ng-disabled="!model.template_valid" ng-click="savePanel()">Save Template</button>
  </div>