<div ng-controller="PanelVariantDeleteController">
  <div class="modal-header">
    <button type="button" class="close" ng-click="ok()" aria-hidden="true">&times;</button>
    Delete Panel Variant: {{ instance.name }}
  </div>
  <div class="modal-body">

    <h4>Are you sure you want to delete this panel variant?</h4>

    <div class="well well-info">
      <ul>
        <li ng-show="instance.sample_count > 0">
          {{ instance.sample_count }} sample(s) belong to this panel variant. These
          <strong>WILL</strong> be deleted if you delete this panel variant.
        </li>
        <li ng-show="instance.sample_count == 0">
          There are no regular FCS samples that belong to this panel variant.
        </li>
      </ul>
    </div>

    <div class="well well-warning" ng-show="errors.__all__">
      <ul class="list-unstyled">
        <li ng-repeat="error in errors.__all__">{{ error }}</li>
      </ul>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ok()">Cancel</button>
    <button type="button" class="btn btn-danger" ng-click="destroy(instance)">Delete</button>
  </div>
</div>