<div ng-controller="PRStage2Controller">
  <div class="modal-header">
    <button type="button" class="close" ng-click="ok()" aria-hidden="true">&times;</button>
    Stage 2 Process Request
  </div>
  <div class="modal-body">

    <div class="row">
      <label class="col-md-2 control-label">Cell Subset:</label>
      <div class="col-md-3">
        <select ng-model="instance.cell_subset" ng-required="true" ng-options="cs.id as cs.name for cs in instance.cell_subsets">
        </select>
        <strong ng-show="errors.cell_subset" class="help-inline text-danger">
          {{ errors.cell_subset.join(', ') }}
        </strong>
      </div>

      <label class="col-md-1 control-label">Parameters: </label>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li data-ng-repeat="p in instance.parameters | orderBy : 'full_name'">
            <label>
              <input type="checkbox" ng-model="p.selected" />
              {{ p.full_name }}
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ok()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="create()" ng-disabled="instance.complete">Submit</button>
  </div>
</div>