
  <div class="row">

    <div class="col-md-3">

      <div class="well">
        <h5>Choose Sample to Plot</h5>
          <ul class="list-unstyled">
            <li ng-repeat="sample in sample_collection">
              <label>
                <input type="radio" name="sampleGroup" ng-model="$parent.chosen_sample_id" value="{{ sample.sample }}" />
                {{ sample.filename }}
              </label>
            </li>
          </ul>
      </div>

    </div>

    <div class="col-md-9">

      <div class="text-center" ng-show="retrieving_data">
        <br/>
        <br/>
        <h4><em>Retrieving data...</em></h4>
        <img src="/static/giant_whirligig.gif">
      </div>

      <div ng-hide="retrieving_data || !chosen_sample_id">

        <prscatterplot data="plot_data"></prscatterplot>

      </div>

    </div>

  </div>