  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <table class="key-value">

          <tr>
            <td>Requested by:</td>
            <td>{{ process_request.request_username }}</td>
          </tr>

          <tr>
            <td>Requested on:</td>
            <td>{{ process_request.request_date | date:'short' }}</td>
          </tr>

          <tr>
            <td>Status:</td>
            <td>
              <span class="label label-success" ng-show="process_request.status == 'Complete'">{{ process_request.status }}</span>
              <span class="label label-warning" ng-show="process_request.status == 'Working'">{{ process_request.status }}</span>
              <span class="label label-primary" ng-show="process_request.status == 'Pending'">{{ process_request.status }}</span>
              <span class="label label-danger" ng-show="process_request.status == 'Error'">
                <i class="fa fa-exclamation-triangle align-middle"></i>{{ process_request.status }}
              </span>
            </td>
          </tr>

          <tr ng-show="process_request.status == 'Error'">
            <td>Error Detail:</td>
            <td>
              <strong class="text-danger">{{ process_request.status_message }}</strong><br/>
            </td>
          </tr>

          <tr>
            <td>Sample Collection:</td>
            <td>
              {{ process_request.sample_collection }}<br/>
            </td>
          </tr>

          <tr>
            <td>Sub-sample Count:</td>
            <td>
              {{ process_request.subsample_count }}<br/>
            </td>
          </tr>

          <tr>
            <td>Worker:</td>
            <td>
              <span id="worker">
                {{ process_request.worker_name }}
                  <a ng-show="superuser" class="btn btn-default btn-xs" rel="tooltip" onclick="revoke_assignment()" href="#" data-original-title="Revoke Assignment" data-placement="right">
                    <i style="opacity: 0.4;margin: 0 10px;" class="glyphicon glyphicon-remove align-middle"></i>
                  </a>
                <span id="error_message"></span>
              </span>
            </td>
          </tr>

          <tr>
            <td>Assigned on:</td>
            <td>{{ process_request.assignment_date | date:'short'  }}</td>
          </tr>

          <tr>
            <td>Completion Date:</td>
            <td>{{ process_request.completion_date | date:'short'  }}</td>
          </tr>

        </table>
      </div>

      <div class="col-md-5">

        <br/>

        <div ng-show="process_request.status == 'Complete'" class="well well-large">
          <h4>View Results</h4>

          <a ng-show="process_request.status == 'Complete'" ui-sref="pr-results-detail({ requestId: process_request.id })">
            View & Export Tabular Results
          </a>

          <br/>

          <a ng-show="process_request.status == 'Complete'" ui-sref="pr-visualization-detail({ requestId: process_request.id })">
            Interactive Visualization
          </a>

          <div ng-show="children.length > 0">

            <h5>Stage 2 Process Requests:</h5>


            <ul>
              <li ng-repeat="child_pr in children">
                <a ui-sref="process-request-detail({ requestId: child_pr.id })">
                  <strong>{{ child_pr.description }}</strong>
                </a>
                <em>submitted by</em> <strong>{{ child_pr.request_username }}</strong>
                <em>on</em> <strong>{{ child_pr.request_date | date:'short' }}</strong>
                <span class="label label-success" ng-show="child_pr.status == 'Complete'">{{ child_pr.status }}</span>
                <span class="label label-warning" ng-show="child_pr.status == 'Working'">{{ child_pr.status }}</span>
                <span class="label label-primary" ng-show="child_pr.status == 'Pending'">{{ child_pr.status }}</span>
                <span class="label label-danger" ng-show="child_pr.status == 'Error'" tooltip="{{ child_pr.status_message }}" tooltip-placement="bottom">
                  <i class="fa fa-exclamation-triangle align-middle"></i>{{ child_pr.status }}
                </span>
              </li>
            </ul>
          </div>

        </div>

      </div>

    </div>

    <table ts-wrapper class="table table-hover">
      <thead>
        <tr>
          <th colspan="40" class="center">
            <h4>
              Samples
              <span class="badge badge-inverse align-top">{{ sample_collection.members.length }}</span>
            </h4>
          </th>
        </tr>
        <tr>
          <th ts-criteria="sample.original_filename">File</th>
          <th ts-criteria="sample.panel_name">Panel</th>
          <th ts-criteria="sample.site_name">Site</th>
          <th ts-criteria="sample.subject_code">Subject</th>
          <th ts-criteria="sample.visit_name">Visit</th>
          <th ts-criteria="sample.stimulation_name">Stimulation</th>
        </tr>
      </thead>
      <tbody>
        <tr ts-repeat ng-repeat="member in sample_collection.members">
          <td>{{ member.sample.original_filename }}</td>
          <td>{{ member.sample.panel_name }}</td>
          <td>{{ member.sample.site_name }}</td>
          <td>{{ member.sample.subject_code }}</td>
          <td>{{ member.sample.visit_name }}</td>
          <td>{{ member.sample.stimulation_name }}</td>
        </tr>
      </tbody>
    </table>

    <table ts-wrapper class="table table-hover">
      <thead>
        <tr>
          <th colspan="40" class="center">
            <h4>
              Process Request Input Values
              <span class="badge badge-inverse align-top">{{ process_request.inputs.length }}</span>
            </h4>
          </th>
        </tr>
        <tr>
            <th ts-criteria="category_name">Category</th>
            <th ts-criteria="implementation_name">Implementation</th>
            <th ts-criteria="input_name">Input Name</th>
            <th ts-criteria="value">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr ts-repeat ng-repeat="request_input in process_request.inputs">
          <td>{{ request_input.category_name }}</td>
          <td>{{ request_input.implementation_name }}</td>
          <td>{{ request_input.input_name }}</td>
          <td>{{ request_input.value }}</td>
        </tr>
      </tbody>
    </table>
  </div>