<div ng-controller="ProjectDeleteController">
  <div class="modal-header">
    <button type="button" class="close" ng-click="ok()" aria-hidden="true">&times;</button>
    Delete Site: {{ instance.project_name }}
  </div>
  <div class="modal-body">

    <h4>Are you sure you want to delete this project?</h4>

    <div class="well well-info">
      <ul>
        <li ng-show="instance.subject_count > 0">
          {{ instance.subject_count }} subject(s) belong to this project. These
          <strong>WILL</strong> be deleted if you remove this project.
        </li>
        <li ng-show="instance.subject_count == 0">
          There are no subjects that belong to this project.
        </li>
        <li ng-show="instance.visit_type_count > 0">
          {{ instance.visit_type_count }} visit type(s) belong to this project. These
          <strong>WILL</strong> be deleted if you remove this project.
        </li>
        <li ng-show="instance.visit_type_count == 0">
          There are no visit types that belong to this project.
        </li>
        <li ng-show="instance.panel_count > 0">
          {{ instance.panel_count }} panel(s) belong to this project. These
          <strong>WILL</strong> be deleted if you remove this project.
        </li>
        <li ng-show="instance.panel_count == 0">
          There are no panels that belong to this project.
        </li>
        <li ng-show="instance.site_count > 0">
          {{ instance.site_count }} site(s) belong to this project. These
          <strong>WILL</strong> be deleted if you remove this project.
        </li>
        <li ng-show="instance.site_count == 0">
          There are no sites that belong to this project.
        </li>
        <li ng-show="instance.cytometer_count > 0">
          {{ instance.cytometer_count }} cytometer(s) belong to this project. These
          <strong>WILL</strong> be deleted if you remove this project.
        </li>
        <li ng-show="instance.cytometer_count == 0">
          There are no cytometers that belong to this project.
        </li>
        <li ng-show="instance.sample_count > 0">
          {{ instance.sample_count }} sample(s) belong to this project. These
          <strong>WILL</strong> be deleted if you remove this project.
        </li>
        <li ng-show="instance.sample_count == 0">
          There are no regular FCS samples that belong to this project.
        </li>
        <li ng-show="instance.bead_sample_count > 0">
          {{ instance.bead_sample_count }} bead sample(s) belong to this project. These
          <strong>WILL</strong> be deleted if you remove this project.
        </li>
        <li ng-show="instance.bead_sample_count == 0">
          There are no bead samples that belong to this project.
        </li>
        <li ng-show="instance.compensation_count > 0">
          {{ instance.compensation_count }} compensation(s) belong to this project. These
          <strong>WILL</strong> be deleted if you remove this project.
        </li>
        <li ng-show="instance.compensation_count == 0">
          There are no compensation matrices that belong to this project.
        </li>
      </ul>
    </div>

    <div class="well well-warning" ng-show="errors.__all__">
      <ul class="list-unstyled">
        <li ng-repeat="error in errors.__all__">{{ error }}</li>
      </ul>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ok()">Cancel</button>
    <button type="button" class="btn btn-danger" ng-click="destroy(instance)">Delete</button>
  </div>
</div>