    <table class="table">
      <thead>
        <tr>
          <th class="center" colspan="50">
            <div style="position:relative">
              <h4>{{ current_project.project_name }}</h4>

              <div class="btn-group" style="position:absolute; right:0;top:0;">
                  <a class="btn btn-default btn-sm" ui-sref="project-edit" ng-show="can_modify_project">Edit Project</a>
                  <a class="btn btn-default btn-sm"  ui-sref="project-manage-users" ng-show="can_manage_users">Manage Users</a>
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tr>
        <td colspan="50">{{ current_project.project_desc }}</td>
      </tr>
    </table>
    <div class="well">

      <div class="row">
        <div class="col-md-5">
          <h4>Subject Groups</h4>

              <a ui-sref="subject-group-list({projectId: current_project.id })">View</a><br/>
              <a ui-sref="subject-group-add">Add Subject Group</a><br/>

        </div>
        <div class="col-md-5">
          <h4>Subjects</h4>

              <a ui-sref="subject-list({projectId: current_project.id })">View</a><br/>
              <a ui-sref="subject-add">Add Subject</a><br/>

        </div>
      </div>

      <div class="row">
        <br/>
      </div>

      <div class="row">
        <div class="col-md-5">
          <h4>Sites</h4>

              <a ui-sref="site-list({ projectId: current_project.id })">View</a><br/>
              <a ui-sref="site-add">Add Site</a><br/>

        </div>
        <div class="col-md-5">
          <h4>Cytometers</h4>

              <a ui-sref="cytometer-list({ projectId: current_project.id })">View</a><br/>
              <a ui-sref="cytometer-add">Add Cytometer</a><br/>

        </div>
      </div>

      <div class="row">
        <br/>
      </div>

      <div class="row">
        <div class="col-md-5">
          <h4>Visit Types</h4>

              <a ui-sref="visit-type-list({ projectId: current_project.id })">View</a><br/>
              <a ui-sref="visit-type-add">Add Visit Type</a><br/>

        </div>
        <div class="col-md-5">
          <h4>Stimulations</h4>

              <a ui-sref="stimulation-list({ projectId: current_project.id })">View</a><br/>
              <a ui-sref="stimulation-list">Add Stimulation</a><br/>

        </div>
      </div>

      <div class="row">
        <br/>
      </div>

      <div class="row">
        <div class="col-md-5">
          <h4>Panel Templates</h4>

              <a ui-sref="panel-template-list({ projectId: current_project.id })">View</a><br/>
              <a ui-sref="panel-template-add">Add Panel Template</a><br/>

        </div>
        <div class="col-md-5">


        </div>
      </div>

      <div class="row">
        <br/>
      </div>

      <div class="row">
        <div class="col-md-5">
          <h4>Samples</h4>

              <a ui-sref="sample-list">View</a><br/>
              <a ui-sref="sample-upload">Upload Samples</a><br/>

        </div>
        <div class="col-md-5">
          <h4>Compensation Bead Samples</h4>

              <a ui-sref="compensation-sample-list">View</a><br/>
              <a ui-sref="compensation-sample-upload">Upload Bead Samples</a><br/>

        </div>
      </div>

      <div class="row">
        <br/>
      </div>

      <div class="row">
        <div class="col-md-5">
          <h4>Compensation Matrices</h4>

              <a ui-sref="compensation-list">View</a><br/>
              <a ui-sref="compensation-add">Create Compensation Matrix</a><br/>

        </div>
        <div class="col-md-5">


        </div>
      </div>

    </div>