    <table class="table">
      <thead>
        <tr>
          <th colspan="50" class="center">
            <div style="position:relative">
              <h4>Samples <span class="badge badge-inverse align-top">{{ samples.length }}</span></h4>

              <div style="position:absolute; right:0;top:0;">
                <a class="btn btn-default btn-sm" ui-sref="sample-upload">
                  Upload Samples
                </a>
              </div>
            </div>
          </th>
        </tr>
      </thead>
    </table>


    <div class="row">
      <div class="col-md-4">
        <div class="well">
          <form class="unstyled-checkboxes" id="sample-filter-form" method="get">
            <div style="position: relative">
              <h4>Filter</h4>
              <div style="position: absolute; right:0;top:0;">
                <button class="btn btn-default btn-sm" ng-click="apply_filter()">
                  Apply
                </button>
              </div>
            </div>

            <hr/>

            <b>Panel</b>
            <ul>
              <li ng-repeat="p in panels">
                <label>
                  <input type="checkbox" ng-model="p.query" />
                  {{ p.panel_name }}
                </label>
              </li>
            </ul>

            <hr/>

            <b>Site</b>
            <ul>
              <li ng-repeat="s in sites">
                <label>
                  <input type="checkbox" ng-model="s.query" />
                  {{ s.site_name }}
                </label>
              </li>
            </ul>

            <hr/>

            <b>Subject</b>
            <ul>
              <li ng-repeat="s in subjects">
                <label>
                  <input type="checkbox" ng-model="s.query" />
                  {{ s.subject_code }}
                </label>
              </li>
            </ul>

            <hr/>

            <b>Subject Group</b>
            <ul>
              <li ng-repeat="sg in subject_groups">
                <label>
                  <input type="checkbox" ng-model="sg.query" />
                  {{ sg.group_name }}
                </label>
              </li>
            </ul>

            <hr/>

            <b>Visit Type</b>
            <ul>
              <li ng-repeat="vt in visit_types">
                <label>
                  <input type="checkbox" ng-model="vt.query" />
                  {{ vt.visit_type_name }}
                </label>
              </li>
            </ul>

            <hr/>

            <b>Stimulation</b>
            <ul>
              <li ng-repeat="s in stimulations">
                <label>
                  <input type="checkbox" ng-model="s.query" />
                  {{ s.stimulation_name }}
                </label>
              </li>
            </ul>

          </form>
        </div>
      </div>

      <div class="col-md-8">
        <table ts-wrapper id="data-table" class="table table-hover">
          <thead>
            <tr>
                <th></th>
                <th ts-criteria="original_filename">File name</th>
                <th ts-criteria="upload_date">Upload Date</th>
                <th ts-criteria="acquisition_date">Acquisition Date</th>
            </tr>
          </thead>
          <tbody>
            <tr ts-repeat ng-repeat="s in samples">
              <td class="no-wrap" width="1%">
                <a class="btn btn-default btn-xs" ng-click="show_parameters(s)" tooltip="Show Parameters" tooltip-placement="bottom">
                  <i style="opacity: 0.4" class="fa fa-list-alt align-middle"></i>
                </a>
                <a class="btn btn-default btn-xs" ng-click="show_metadata(s)" tooltip="Show Metadata" tooltip-placement="bottom">
                  <i style="opacity: 0.4" class="fa fa-list-alt align-middle"></i>
                </a>
                <a class="btn btn-default btn-xs" href="/api/repository/samples/{{ s.id }}/fcs_original/" tooltip="Download FCS File" tooltip-placement="bottom">
                  <i style="opacity: 0.4" class="fa fa-download align-middle"></i>
                </a>
                <a class="btn btn-default btn-xs" href="/api/repository/samples/{{ s.id }}/csv/" tooltip="Download Subsampled CSV File" tooltip-placement="bottom">
                  <i style="opacity: 0.4" class="fa fa-download align-middle"></i>
                </a>
                <a class="btn btn-default btn-xs" ng-show="s.can_modify" ng-click="init_form(s, 'SAMPLE')" tooltip="Edit" tooltip-placement="bottom">
                  <i style="opacity: 0.4" class="fa fa-pencil align-middle"></i>
                </a>
                <a class="btn btn-default btn-xs" ng-show="s.can_modify" ng-click="init_form(s, 'SAMPLE_DELETE')" tooltip="Delete" tooltip-placement="bottom">
                  <i style="opacity: 0.4" class="fa fa-times align-middle"></i>
                </a>
              </td>
              <td>{{ s.original_filename }}</td>
              <td>{{ s.upload_date }}</td>
              <td>{{ s.acquisition_date }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>