  <div class="modal-header">
    <button type="button" class="close" ng-click="ok()" aria-hidden="true">&times;</button>
    {{ instance.original_filename }}
  </div>
  <div class="modal-body">

    <table ts-wrapper class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th ts-criteria="fcs_number" ts-default>Function</th>
          <th ts-criteria="fcs_text">FCS PnN Text</th>
          <th ts-criteria="fcs_opt_text">FCS PnS Text</th>
          <th ts-criteria="markers">Markers</th>
          <th ts-criteria="fluorochrome.fluorochrome_abbreviation">Fluorochrome</th>
          <th ts-criteria="parameter_type_name">Value Type</th>
        </tr>
      </thead>
      <tbody>
        <tr ts-repeat ng-repeat="param in site_panel.parameters">
          <td>{{ param.fcs_number }}</td>
          <td>{{ param.parameter_type_name }}</td>
          <td>{{ param.fcs_text }}</td>
          <td>{{ param.fcs_opt_text }}</td>
          <td>
            <span ng-repeat="param_marker in param.markers">
              {{ param_marker.name }}<br/>
            </span>
          </td>
          <td>{{ param.fluorochrome.fluorochrome_abbreviation }}</td>
          <td>{{ param.parameter_value_type }}</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ok()">Close</button>
  </div>