  <div class="modal-header">
    <button type="button" class="close" ng-click="ok()" aria-hidden="true">&times;</button>
    {{ instance.original_filename }}
  </div>
  <div class="modal-body">

    <table ts-wrapper class="table table-hover" style="table-layout: fixed">
      <thead>
        <tr>
          <th ts-criteria="key">Field</th>
          <th ts-criteria="value">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr ts-repeat ng-repeat="field in metadata | orderBy : 'key'">
          <td class="break-word" style="width: 50%;">{{ field.key }}</td>
          <td class="break-word" style="width: 50%;">{{ field.value }}</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ok()">Close</button>
  </div>