<div ng-controller="StimulationDeleteController">
  <div class="modal-header">
    <button type="button" class="close" ng-click="ok()" aria-hidden="true">&times;</button>
    Delete Stimulation: {{ instance.stimulation_name }}
  </div>
  <div class="modal-body">

    <h4>Are you sure you want to delete this stimulation?</h4>

    <div class="well well-info">
      <span ng-show="instance.sample_count > 0">
        {{ instance.sample_count }} sample(s) belong to this stimulation. These
        <strong>WILL</strong> be deleted if you remove this stimulation.
      </span>
      <span ng-show="instance.sample_count == 0">
        There are no FCS samples that belong to this stimulation.
      </span>
    </div>

    <div class="well well-warning" ng-show="errors.__all__">
      <ul class="list-unstyled">
        <li ng-repeat="error in errors.__all__">{{ error }}</li>
      </ul>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ok()">Cancel</button>
    <button type="button" class="btn btn-danger" ng-click="destroy(instance)">Delete</button>
  </div>
</div>