    <table id="data-table" class="table table-hover">
      <thead>
        <tr>
          <th colspan="50" class="center">
            <div style="position:relative">
              <h4>Stimulations <span class="badge badge-inverse align-top">{{ stimulations.length }}</span></h4>

              <div class="btn-group" ng-show="can_add_data" style="position:absolute; right:0;top:0;">
                  <a class="btn btn-default btn-sm" ui-sref="stimulation-add">
                      Add Stimulation
                  </a>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th></th>
          <th>Stimulation Name</th>
          <th>Stimulation Description</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="stimulation in stimulations">
          <td width="1%">
              <a class="btn btn-default btn-xs" rel="tooltip" ng-show="can_modify_project" ui-sref="stimulation-edit" data-original-title="Edit" data-placement="bottom">
                <span style="opacity: 0.4" class="glyphicon glyphicon-pencil align-middle"></span>
              </a>
          </td>
          <td>{{ stimulation.stimulation_name }}</td>
          <td>{{ stimulation.stimulation_description }}</td>
        </tr>
      </tbody>
    </table>