    <table id="data-table" class="table table-hover">
      <thead>
        <tr>
          <th colspan="50" class="center">
            <div style="position:relative">
              <h4>Subjects <span class="badge badge-inverse align-top">{{ subjects.length }}</span></h4>

              <div class="btn-group" ng-show="can_add_data" style="position:absolute; right:0;top:0;">
                  <a class="btn btn-default btn-sm" ng-click="init_form(null, 'SUBJECT')">
                      Add Subject
                  </a>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th></th>
          <th>Subject Code</th>
          <th>Subject Group</th>
          <th>Batch Control</th>
          <th>FCS Sample Count</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="subject in subjects">
          <td class="no-wrap" width="1%">
            <a class="btn btn-default btn-xs" ng-show="can_modify_project" ng-click="init_form(subject, 'SUBJECT')" tooltip="Edit" tooltip-placement="bottom">
              <span style="opacity: 0.4" class="fa fa-pencil align-middle"></span>
            </a>
            <a class="btn btn-default btn-xs" ng-show="can_modify_project" ng-click="init_delete(subject, 'SUBJECT_DELETE')" tooltip="Delete" tooltip-placement="bottom">
              <i style="opacity: 0.4" class="fa fa-times align-middle"></i>
            </a>
          </td>
          <td>{{ subject.subject_code }}</td>
          <td>{{ subject.subject_group_name }}</td>
          <td><span ng-show="subject.batch_control">True</span></td>
          <td>{{ subject.sample_count }}</td>
        </tr>
      </tbody>
    </table>