<div ng-controller="SubjectGroupEditController">
  <div class="modal-header">
    <button type="button" class="close" ng-click="ok()" aria-hidden="true">&times;</button>
    Create or Update Subject Groups
  </div>
  <div class="modal-body">

    <div class="form-group">
      <label class="col-md-3 control-label">Name</label>
      <input maxlength="128" type="text" ng-model="instance.group_name" />
      <strong ng-show="errors.group_name" class="help-inline text-danger">
        {{ errors.group_name.join(', ') }}
      </strong>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label">Description</label>
      <textarea cols="40" rows="10" ng-model="instance.group_description">
      </textarea>
      <strong ng-show="errors.group_description" class="help-inline text-danger">
        {{ errors.group_description.join(', ') }}
      </strong>
    </div>

    <div class="well well-warning" ng-show="errors.__all__">
      <ul class="list-unstyled">
        <li ng-repeat="error in errors.__all__">{{ error }}</li>
      </ul>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ok()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="create_update(instance)">Save</button>
  </div>
</div>