<div ng-controller="UserEditController">
  <div class="modal-header">
    <button type="button" class="close" ng-click="ok()" aria-hidden="true">&times;</button>
    Create or Edit User
  </div>
  <div class="modal-body">

    <div class="form-group">
      <label class="col-md-4 control-label">Username</label>
      <input maxlength="128" type="text" ng-model="instance.username" ng-required="true" />
      <strong ng-show="errors.username" class="help-inline text-danger">
        {{ errors.username.join(', ') }}
      </strong>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">Email</label>
      <input maxlength="128" type="text" ng-model="instance.email" ng-required="true" />
      <strong ng-show="errors.email" class="help-inline text-danger">
        {{ errors.email.join(', ') }}
      </strong>
    </div>

    <div class="form-group" ng-hide="instance.id">
      <label class="col-md-4 control-label">Password</label>
      <input maxlength="128" type="password" ng-model="instance.password" ng-required="true" />
      <strong ng-show="errors.new_password" class="help-inline text-danger">
        {{ errors.new_password.join(', ') }}
      </strong>
    </div>

    <div class="form-group" ng-hide="instance.id">
      <label class="col-md-4 control-label">Re-type Password</label>
      <input maxlength="128" type="password" ng-model="instance.confirm_password" ng-required="true" />
      <strong ng-show="instance.password != instance.confirm_password" class="help-inline text-danger">
        Passwords do not match!
      </strong>
    </div>

    <div ng-show="instance.id != null" class="form-group">
      <label class="col-md-4 control-label">Active</label>
      <input type="checkbox" name="is_active" ng-model="instance.is_active" />
      <strong ng-show="errors.is_active" class="help-inline text-danger">
        {{ errors.is_active.join(', ') }}
      </strong>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">Superuser</label>
      <input type="checkbox" name="is_superuser" ng-model="instance.is_superuser" />
      <strong ng-show="errors.is_superuser" class="help-inline text-danger">
        {{ errors.is_superuser.join(', ') }}
      </strong>
    </div>
    
    <div class="form-group">
      <label class="col-md-4 control-label">First Name</label>
      <input maxlength="128" type="text" ng-model="instance.first_name" ng-required="false" />
      <strong ng-show="errors.first_name" class="help-inline text-danger">
        {{ errors.first_name.join(', ') }}
      </strong>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">Last Name</label>
      <input maxlength="128" type="text" ng-model="instance.last_name" ng-required="false" />
      <strong ng-show="errors.last_name" class="help-inline text-danger">
        {{ errors.last_name.join(', ') }}
      </strong>
    </div>

    <div class="well well-warning" ng-show="errors.__all__">
      <ul class="list-unstyled">
        <li ng-repeat="error in errors.__all__">{{ error }}</li>
      </ul>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ok()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="create_update(instance)" ng-disabled="((instance.password != instance.confirm_password) || !instance.password) && instance.id == null">Save</button>
  </div>
</div>