    <table ts-wrapper id="data-table" class="table table-hover">
      <thead>
        <tr>
          <th colspan="50" class="center">
            <div style="position:relative">
              <h4>Users <span class="badge badge-inverse align-top">{{ users.length }}</span></h4>

              <div style="position:absolute; right:0;top:0;">
                <a class="btn btn-default btn-sm" ng-show="user.superuser" ng-click="init_form(null, 'USER')">
                  Add User
                </a>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th></th>
          <th ts-criteria="username">Username</th>
          <th ts-criteria="first_name">First Name</th>
          <th ts-criteria="last_name">Last Name</th>
          <th ts-criteria="email">Email</th>
          <th ts-criteria="is_active">Active</th>
          <th ts-criteria="is_superuser">Superuser</th>
          <th ts-criteria="last_login">Last Login</th>
          <th ts-criteria="date_joined">Created</th>
          <th ts-criteria="process_request_count">Process Requests</th>
        </tr>
      </thead>
      <tbody>
        <tr ts-repeat ng-repeat="u in users">
          <td class="no-wrap" width="1%">
            <a class="btn btn-default btn-xs" ng-show="user.superuser" ng-click="init_form(u, 'USER')" tooltip="Edit Profile" tooltip-placement="bottom">
              <span style="opacity: 0.4" class="fa fa-pencil align-middle"></span>
            </a>
            <a class="btn btn-danger btn-xs" ng-show="user.superuser" ng-click="init_form(u, 'RESET_PASSWORD')" tooltip="Reset Password" tooltip-placement="bottom">
              <span style="opacity: 0.4" class="fa fa-key align-middle"></span>
            </a>
            <a class="btn btn-default btn-xs" ng-show="user.superuser" ng-click="init_form(u, 'USER_DELETE')" tooltip="Delete" tooltip-placement="bottom">
              <i style="opacity: 0.4" class="fa fa-times align-middle"></i>
            </a>
          </td>
          <td>
            {{ u.username }}
          </td>
          <td>
            {{ u.first_name }}
          </td>
          <td>
            {{ u.last_name }}
          </td>
          <td>
            {{ u.email }}
          </td>
          <td>
            {{ u.is_active }}
          </td>
          <td>
            {{ u.is_superuser }}
          </td>
          <td>
            {{ u.last_login | date : 'medium' }}
          </td>
          <td>
            {{ u.date_joined | date : 'medium' }}
          </td>
          <td>
            {{ u.process_request_count }}
          </td>
        </tr>
      </tbody>
    </table>