<div ng-controller="UserChangePasswordController">
  <div class="modal-header">
    <button type="button" class="close" ng-click="ok()" aria-hidden="true">&times;</button>
    Change Password for {{ instance.username }}
  </div>
  <div class="modal-body">

    <div class="form-group">
      <label class="col-md-4 control-label">Current Password</label>
      <input maxlength="128" type="password" ng-model="instance.current_password" ng-required="true" />
      <strong ng-show="errors.current_password" class="help-inline text-danger">
        {{ errors.current_password.join(', ') }}
      </strong>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">New Password</label>
      <input maxlength="128" type="password" ng-model="instance.password" ng-required="true" />
      <strong ng-show="instance.password == instance.current_password && instance.password != null" class="help-inline text-danger">
        Cannot re-use your current password!
      </strong>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">Re-type New Password</label>
      <input maxlength="128" type="password" ng-model="instance.confirm_password" ng-required="true" />
      <strong ng-show="instance.password != instance.confirm_password" class="help-inline text-danger">
        Passwords do not match!
      </strong>
    </div>

    <div class="well well-warning" ng-show="errors">
      <ul class="list-unstyled">
        <li ng-repeat="error in errors">{{ error }}</li>
      </ul>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ok()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="change_password(instance)" ng-disabled="(instance.password != instance.confirm_password) || !instance.password || !instance.current_password || instance.current_password == instance.password">Save</button>
  </div>
</div>