<div ng-controller="UserEditController">
  <div class="modal-header">
    <button type="button" class="close" ng-click="ok()" aria-hidden="true">&times;</button>
    <h4>Edit User Permissions ({{ instance.username }})</h4>
  </div>
  <div class="modal-body">

    <h4>Project Permissions</h4>

    <div ng-repeat="(codename, perm) in project_permissions">
      <label>
        <input type="checkbox" ng-model="perm.value" />
        {{ perm.name }}
      </label>
    </div>

    <hr/>

    <h4>Site Permissions</h4>

    <div ng-repeat="site in site_permissions">
      <h5>{{ site.site_name }}</h5>
      <div ng-repeat="(codename, perm) in site.permissions">
        <label>
          <input type="checkbox" ng-model="perm.value" ng-click="checkbox_changed(codename, perm, 'site', site.obj_id)"/>
          {{ perm.name }}
        </label>
      </div>
    </div>

    <div class="well well-warning" ng-show="errors.__all__">
      <ul class="list-unstyled">
        <li ng-repeat="error in errors.__all__">{{ error }}</li>
      </ul>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ok()">Close</button>
  </div>
</div>