<div ng-controller="WorkerEditController">
  <div class="modal-header">
    <button type="button" class="close" ng-click="ok()" aria-hidden="true">&times;</button>
    Create or Edit Worker
  </div>
  <div class="modal-body">
    
    <div class="form-group">
      <label class="col-md-3 control-label">Name</label>
      <input maxlength="128" type="text" ng-model="instance.worker_name" ng-required="true" />
      <strong ng-show="errors.worker_name" class="help-inline text-danger">
        {{ errors.worker_name.join(', ') }}
      </strong>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label">Hostname</label>
      <input maxlength="128" type="text" ng-model="instance.worker_hostname" ng-required="true" />
      <strong ng-show="errors.worker_hostname" class="help-inline text-danger">
        {{ errors.worker_hostname.join(', ') }}
      </strong>
    </div>

    <div class="well well-warning" ng-show="errors.__all__">
      <ul class="list-unstyled">
        <li ng-repeat="error in errors.__all__">{{ error }}</li>
      </ul>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ok()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="create_update(instance)">Save</button>
  </div>
</div>