.axis .ticks line.minor {
    stroke: #ccc;
    stroke-width: 1px;
}

.axis path {
    fill: none;
    stroke: #aaa;
    stroke-width: 2px;
}

.axis line {
    stroke: #999;
    stroke-width: 1px;
}

#radarchart .axis line, #parallelplot .axis line {
    z-index: -1;
    stroke: #aaa;
    stroke-width: 2px;
    stroke-dasharray: 2, 6;
}

.data-line {
    stroke-width: 1.5px;
    stroke-opacity: 0.3;
    fill: none;
    shape-rendering: "crispEdges";
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    color: #eee;
}

.axis-label, #tooltip {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 900;
}

#scatterplot, #radarchart {
    position: relative;
}

svg, canvas {
  position: absolute;
}
svg {
  left: 0;
  top: 0;
}

circle, ellipse {
    z-index: 1000;
    /*fill: #99c3d1;*/
    stroke: #203148;
    stroke-width: 2px;
    cursor: pointer;
}

circle.selected {
    fill: yellow;
    stroke: lime;
}

.brush .extent {
    z-index: -1;
    stroke: #bbb;
    stroke-width: 1.5px;
    fill-opacity: .02;
}

#heat_map_canvas {
  z-index: 900;
}

td.hover {
  background-color: #f1f1f1;
}

.cluster-list {
  height: 480px;
  overflow-y: auto;
}

.color-box {
  display: inline-block;
  border: 2px solid #a1a1a1;
  border-radius: 3px;
  color: #fff;
  width: 18px;
  height: 18px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  vertical-align: bottom;
  cursor: pointer;
}

.color-box > i.master {
  color: #000;
}

.cluster-info-box {
  border: 2px solid #a1a1a1;
  border-radius: 3px;
  color: #fff;
  width: 100%;
  height: 142px;
  text-align: center;
  padding: 2px;
  font-size: 14px;
}

.cluster-info-box > div > .title {
  font-family: 'Open Sans', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 32px;
  margin: 6px;
}

.scale_input {
  width: 35%;
  font-size: 12px;
  font-weight: bold;
}