<div ng-controller="CategorizationController">
  <div ng-show="!dropSupported">HTML5 Drop File is not supported on this browser</div>

  <div class="drop-box" ng-show="dropSupported" ng-file-drop="onFileSelect($files);" ng-file-drop-available="dropSupported=true">

    <div class="row">
      <div class="col-md-4">
        <table>
            <tr>
                <td><strong>Project:</strong></td>
                <td>
                  <div ng-controller="ProjectQueryController">
                      <select class="form-control" ng-model="model.current_project" ng-required="true" ng-change="projectChanged()" ng-options="p.project_name for p in model.projects">
                      </select>
                  </div>
                </td>
            </tr>
            <tr>
                <td><strong>Site:</strong></td>
                <td>
                  <div ng-controller="SiteQueryController">
                    <select class="form-control" ng-model="model.current_site" ng-disabled="model.current_project == null || model.sites.length == 0" ng-required="true" ng-change="siteChanged()" ng-options="s.site_name for s in model.sites">
                    </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td><strong>Cytometer:</strong></td>
                <td>
                  <div ng-controller="CytometerQueryController">
                    <select class="form-control" ng-model="model.current_cytometer" ng-disabled="model.current_site == null || model.cytometers.length == 0" ng-required="true" ng-options="c.cytometer_name for c in model.cytometers">
                    </select>
                  </div>
                </td>
            </tr>
            <tr>
                <td><strong>Acquisition Date:</strong></td>
                <td>
                  <input type="text" class="form-control" ng-click="open($event)" datepicker-popup="{{format}}" ng-model="current_acquisition_date" is-open="opened" datepicker-options="dateOptions" show-weeks="false" ng-required="true" close-text="Close" />
                </td>
            </tr>
            <tr>
                <td><strong>Site Panel:</strong></td>
                <td>
                  <div ng-controller="SitePanelQueryController">
                    <select class="form-control" ng-model="model.current_site_panel" ng-disabled="model.current_site == null || model.site_panels.length == 0" ng-required="true" ng-change="sitePanelChanged()" ng-options="s.name for s in model.site_panels">
                    </select>
                  </div>
                </td>
            </tr>
            <tr>
                <td><strong>Compensation Channel:</strong></td>
                  <td>
                  <div ng-controller="SitePanelQueryController">
                    <select class="form-control" ng-model="model.current_compensation_fluoro" ng-disabled="model.current_site_panel == null || model.site_panels.length == 0" ng-required="true" ng-options="f.fluorochrome_abbreviation for f in model.panel_fluorochromes">
                    </select>
                  </div>
                </td>
            </tr>
        </table>
      </div>
      <div class="col-md-8">
        <table class="table table-hover">
          <thead>
            <tr>
              <th colspan="50">
                <div class=" text-center" style="position: relative">
                  <div style="position: absolute; left:0; padding-left: inherit;">
                    <input type="file" ng-file-select="onFileSelect($files)" multiple />
                  </div>
                  <h4>FCS Files</h4>
                  <div class="pull-right" style="position: absolute; right:0; top:0;">
                    <button class="btn btn-default btn-sm" data-ng-click="addSelectedToUploadQueue()">Add to Queue</button>
                  </div>
                </div>
              </th>
            </tr>
            <tr>
              <th style="width:1%;">
                <input type="checkbox" ng-model="master_file_queue_checkbox" ng-change="toggleAllFileQueue()"/>
              </th>
              <th>File Name</th>
              <th>Size</th>
              <th>Channels</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="f in model.file_queue">
              <td class="no-wrap">
                <input type="checkbox" ng-model="f.selected" />

                <script type="text/ng-template" id="sitePanelMismatchModal.html">
                    <div class="modal-header">
                        <h3>Incompatible site panel for {{ file.filename }}</h3>
                    </div>
                    <div class="modal-body">
                        <div class="text-warning">
                          <ul>
                            <li data-ng-repeat="error in file.errors" data-ng-bind-html="error.value">{{ error.key }}: {{ error.value }}</li>
                          </ul>
                        </div>
                        <div class="alert alert-info">
                          <div ng-show="file.matching_panels.length > 0">
                            The following site panels match this file's annotation:
                            <ul>
                              <li ng-repeat="panel in file.matching_panels">{{ panel.name }}</li>
                            </ul>
                          </div>
                          <div ng-show="file.matching_panels.length == 0">
                          There are no site panels in the chosen site that match this file.
                          </div>
                          <p>To create a new panel, choose <strong><em>Create Site Panel</em></strong> from the file's drop-down menu.</p>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="ok()">OK</button>
                    </div>
                </script>
                <button data-ng-show="f.errors.length > 0" data-ng-click="open_site_panel_mismatch_modal(f)" class="btn btn-default btn-xs">
                  <span class="glyphicon glyphicon-exclamation-sign danger"></span> Error
                </button>
              </td>
              <td>

                <script type="text/ng-template" id="metadata_content.html">
                    <div class="modal-header">
                        <h3>Metadata from {{ file.filename }}</h3>
                    </div>
                    <div class="modal-body">
                        <div>
                          <ul>
                            <li data-ng-repeat="field in file.metadata">{{ field.key }}: {{ field.value }}</li>
                          </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="ok()">OK</button>
                    </div>
                </script>

                <script type="text/ng-template" id="channels_content.html">
                    <div class="modal-header">
                        <h3>Channel annotation from {{ file.filename }}</h3>
                    </div>
                    <div class="modal-body">
                      <table class="table-condensed">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>PnN</th>
                            <th>PnS</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr data-ng-repeat="channel in file.channels">
                            <td>{{ channel.channel }}</td>
                            <td>{{ channel.pnn }}</td>
                            <td>{{ channel.pns }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="ok()">OK</button>
                    </div>
                </script>
                <div ng-controller="SitePanelController">
                  <div ng-include="model.site_panel_url"></div>
                </div>

                <li class="list-unstyled dropdown">
                  <a href="#" class="dropdown-toggle no-wrap">
                    <strong>{{ f.filename }}</strong> <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li class="btn-link">
                      <a data-ng-click="open_metadata_modal(f)">View Metadata</a>
                    </li>
                    <li class="btn-link">
                      <a data-ng-click="open_channels_modal(f)">View Channels</a>
                    </li>
                    <li class="divider" ng-hide="model.current_site == null"></li>
                      <li class="btn-link" ng-hide="model.current_site == null">
                        <a data-toggle="modal" ng-hide="model.current_site == null" data-target="#sitePanelModal" ng-click="initSitePanel(f)">
                          Create Site Panel
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li class="btn-link">
                      <a data-ng-click="removeFromFileQueue(f)">Remove</a>
                    </li>
                  </ul>
                </li>
              </td>
              <td>{{ f.file.size | bytes }}</td>
              <td>{{ f.channels.length }}</td>
              <td>{{ f.date }}</td>
            </tr>
          </tbody>
        </table>

        <h3 class="text-center instruction" ng-hide="model.file_queue.length > 0"><em>Drop files here</em></h3>

      </div>

    </div>
  </div>
</div>

<div ng-controller="UploadQueueController">
  <table class="table table-hover">
    <thead>
      <tr>
          <th colspan="50" class="center">
            <div style="position:relative">
              <h4>Upload Queue <span class="badge badge-inverse align-top">{{ upload_queue.length }}</span></h4>
              <div style="position:absolute; left:0;top:0;">
                <button class="btn btn-default btn-sm" data-ng-click="clearUploaded()">
                  Clear Uploaded
                </button>
                <button class="btn btn-default btn-sm" data-ng-click="clearSelected()">
                  Clear Selected
                </button>
              </div>
              <div style="position:absolute; right:0;top:0;">
                <button class="btn btn-default btn-sm" data-ng-click="uploadSelected()">
                  Upload Selected
                </button>
              </div>
            </div>
          </th>
      </tr>
      <tr>
          <th>
              <input type="checkbox" ng-model="master_upload_queue_checkbox" ng-change="toggleAllUploadQueue()"/>
          </th>
          <th>File Name</th>
          <th>Acquisition Date</th>
          <th>Cytometer</th>
          <th>Site Panel</th>
          <th>Compensation Channel</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="f in model.upload_queue">
        <td>
          <input ng-hide="f.uploaded || f.uploading" type="checkbox" ng-model="f.selected" ng-disabled="f.uploading" />
          <img data-ng-show="f.uploading && ! f.uploaded" src="/static/whirligig.gif">
          <span data-ng-show="f.uploaded" class="glyphicon glyphicon-ok"></span>

          <script type="text/ng-template" id="myModalContent.html">
              <div class="modal-header">
                  <h3>Error uploading {{ file.filename }}</h3>
              </div>
              <div class="modal-body">
                  <div class="text-warning">
                    <ul>
                      <li data-ng-repeat="error in file.errors" data-ng-bind-html="error.value">{{ error.key }}: {{ error.value }}</li>
                    </ul>
                  </div>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-primary" ng-click="ok()">OK</button>
              </div>
          </script>
          <button data-ng-show="f.errors" data-ng-click="open_error_modal(f)" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-exclamation-sign danger"></span> Error
          </button>

        </td>
        <td>

          <script type="text/ng-template" id="metadata_content.html">
              <div class="modal-header">
                  <h3>Metadata from {{ file.filename }}</h3>
              </div>
              <div class="modal-body">
                  <div>
                    <ul>
                      <li data-ng-repeat="field in file.metadata">{{ field.key }}: {{ field.value }}</li>
                    </ul>
                  </div>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-primary" ng-click="ok()">OK</button>
              </div>
          </script>

          <script type="text/ng-template" id="channels_content.html">
              <div class="modal-header">
                  <h3>Channel annotation from {{ file.filename }}</h3>
              </div>
              <div class="modal-body">
                <table class="table-condensed">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>PnN</th>
                      <th>PnS</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-ng-repeat="channel in file.channels">
                      <td>{{ channel.channel }}</td>
                      <td>{{ channel.pnn }}</td>
                      <td>{{ channel.pns }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-primary" ng-click="ok()">OK</button>
              </div>
          </script>

          <li class="list-unstyled dropdown">
          <progressbar class="progress" value="f.progress" type="warning">
              <a href="#" class="dropdown-toggle no-wrap">
                <strong>{{ f.filename }}</strong> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                  <li class="btn-link">
                    <a data-ng-click="open_metadata_modal(f)">View Metadata</a>
                  </li>
                  <li class="btn-link">
                    <a data-ng-click="open_channels_modal(f)">View Channels</a>
                  </li>
                  <li class="divider"></li>
                  <li class="btn-link">
                    <a data-ng-click="recategorizeFile(f)">Move to File List</a>
                  </li>
              </ul>
          </progressbar>
          </li>
        </td>
        <td>{{ f.acquisition_date | date }}</td>
        <td>{{ f.cytometer.cytometer_name }}</td>
        <td>{{ f.site_panel.name }}</td>
        <td>{{ f.compensation_channel.fluorochrome_abbreviation }}</td>
      </tr>
    </tbody>
  </table>
</div>
