  <div class="row">
    <div class="col-md-4">
        <p>
          These parameters are common to all samples. Choose which parameters
          to include in the clustering process.
        </p>

        <p>
          <b>
          Recommendations:
          <ul>
            <li>
              When considering scatter channels, avoid choosing combinations
              of area, height, and width. Area is recommended.
            </li>
            <li>
              Try to limit the number of fluorescence channels to 2 or 3 for
              this 1st stage analysis. Rarer cell subsets can be targeted using
              additional channels in the 2nd stage.
            </li>
          </ul>
          </b>
        </p>
    </div>
    <div class="col-md-8">
        <table ts-wrapper class="table table-hover">
        <thead>
          <tr>
            <th colspan="50">
              <div class=" text-center">
                <h4>Parameters</h4>
              </div>
            </th>
          </tr>
          <tr>
            <th style="width:1%;">
              <input type="checkbox" ng-model="model.master_parameter_checkbox" ng-change="toggleAllParameters()"/>
            </th>
            <th ts-criteria="parameter" ts-default>Parameter</th>
          </tr>
        </thead>
        <tbody>
          <tr ts-repeat data-ng-repeat="p in model.parameters">
            <td class="no-wrap">
              <input type="checkbox" ng-model="p.selected" />
            </td>
            <td>{{ p.parameter }}</td>
          </tr>
        </tbody>
        </table>
    </div>
  </div>