<div style="position: relative;">
  <ul class="pager">
    <li class="previous" ng-hide="current_step_index == 0">
      <a href="" ng-click="prevStep()">&larr; Previous</a>
    </li>
    <li class="next" ng-hide="current_step_index == step_count - 1">
      <a href="" ng-click="nextStep()">Next &rarr;</a>
    </li>
  </ul>
  <h4 style="z-index: -1; position: absolute;width:100%; top: 0; text-align: center">
    {{ current_step.title }}
  </h4>
</div>

<div class="well">

    <div ng-include="current_step.url"></div>

</div>
