{% load url from future %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{{ header_title }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}/bootstrap/css/bootstrap.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,700,300' rel='stylesheet' type='text/css'>
    {% block extra_head %}{% endblock %}
  </head>

  <body>
    <div id="wrap">
      {% block header %}
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <div class="brand">
              <a href="{% url 'home' %}">
                <img class="inline" height="24" src="{{ STATIC_URL }}reflow_text.png">
              </a>
              flow cytometry repository
            </div>
            <ul class="nav pull-right">
              <li class="dropdown">
                <a class="dropdown-toggle"
                   data-toggle="dropdown"
                   href="#">
                    {{ user.username }}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'add_project' %}">Add Project</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% endblock %}

      <div id="main">

          <div class="container">
            {% block breadcrumbs %}
{#            <ul class="breadcrumb">#}
{#              <li><a href="#">Home</a> <span class="divider">/</span></li>#}
{#              <li><a href="#">Library</a> <span class="divider">/</span></li>#}
{#              <li class="active">Data</li>#}
{#            </ul>#}
            {% endblock %}
          </div>

      {% block body %}
      {% endblock %}
      </div>    <!-- id:main -->

    </div>    <!-- id:wrap -->
    <div class="container">
      <div id="footer">&copy Duke University</div>
    </div>
    <!-- Javascript at the end of the document so pages load faster -->
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
    <script type='text/javascript'>
        $(document).ready(function()
        {
            $("a[rel=tooltip]").tooltip();
        });
    </script>

        {% block toes %}{% endblock %}

  </body>

</html>