{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load repository_filters %}
{% load breadcrumbs %}

{% block toes %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-resource.min.js"></script>
<script src="{% static 'js/angular-cookies.js' %}"></script>
<script src="{% static 'js/angular-file-upload.js' %}"></script>
<script src="{% static 'js/angular-ui-bootstrap.min.js' %}"></script>
<script src="{% static 'ng-fcs-upload-app/app.js' %}"></script>
<script src="{% static 'ng-fcs-upload-app/controllers/upload_controller.js' %}"></script>
<script src="{% static 'ng-fcs-upload-app/services/projectsService.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb 'Upload FCS Files' %}
  </ul>
{% endblock %}

{% block body %}
{% verbatim %}
  <div class="container" data-ng-app="fcsUploadApp">

      <div data-ng-view></div>

  </div>
{% endverbatim %}
{% endblock %}