{% extends "base.html" %}
{% load url from future %}
{% block body %}
  <div class="container">
    <div class="row lead">
      <div class="pull-left">{{ process.process_name }}</div>
      <div class="pull-right">Create a New Process Request</div>
    </div>
    <br/>
    <form class="form-horizontal" action="{% url 'create_process_request' process.id %}" method="post">
      {% csrf_token %}

      {{ form.non_field_errors }}
      <div class="control-group">
        <label class="control-label">Process: </label>
        <div class="controls">
          {{ process.process_name }}
        </div>
      </div>
      {% for field in form %}
      <div class="control-group">
        <label class="control-label">{{ field.label }}</label>
        <div class="controls">
          {{ field }}
          {% if field.errors %}
            <span class="help-inline">{{ field.label }}: {{ field.errors|striptags }}</span>
          {% endif %}
        </div>
      </div>
      {% endfor %}
      {{ formset.management_form }}
      <h4>Inputs:</h4>

        {% for input_form in formset %}

          {% for field in input_form.visible_fields %}

          <div class="control-group">
            <label class="control-label">{{ field.label }}</label>
            <div class="controls">

              {{ field }}

              {% if field.errors %}
              <span class="help-inline">{{ field.errors|striptags }}</span>
              {% endif %}
            </div>
          </div>

          {% endfor %}

          <hr/>
          
        {% endfor %}

      <div class="control-group">
        <div class="controls">
          <button class="btn btn-small btn-primary" type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}