{% extends "base.html" %}
{% load url from future %}
{% load breadcrumbs %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url 'Process Dashboard' 'process_dashboard' %}
    {% breadcrumb_url process_input.process.process_name 'view_process' process_input.process_id %}
    {% breadcrumb "Edit Process Input" %}
  </ul>
{% endblock %}

{% block body %}
  <div class="container">
      <form class="form-horizontal" action="{% url 'edit_process_input' process_input.id %}" method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {% for field in form %}
          <div class="control-group">
            <label class="control-label">{{ field.label }}</label>
            <div class="controls">
              {{ field }}
              {% if field.errors %}
                <span class="help-inline">{{ field.label }}: {{ field.errors|striptags }}</span>
              {% endif %}
            </div>
          </div>
        {% endfor %}
        <div class="control-group">
          <div class="controls">
            <button class="btn btn-small btn-primary" type="submit">Save</button>
          </div>
        </div>
      </form>
  </div>
{% endblock %}