{% extends "base.html" %}
{% load url from future %}
{% block body %}
  <div class="container">
    <div class="row lead">
      <div class="span6">{{ worker.worker_name }}</div>
      <div class="pull-right">Register a Process</div>
    </div>
    <br/>
      <form class="form-horizontal" action="{% url 'register_process_to_worker' worker.id %}" method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {% for field in form %}
          <div class="control-group">
            <label class="control-label">{{ field.label }}</label>
            <div class="controls">
              {{ field }}
              {% if field.errors %}
                <span class="help-inline">{{ field.label }}: {{ field.errors|striptags }}</span>
              {% endif %}
            </div>
          </div>
        {% endfor %}
        <div class="control-group">
          <div class="controls">
            <button class="btn btn-small btn-primary" type="submit">Save</button>
          </div>
        </div>
      </form>
  </div>
{% endblock %}